MockMetrics/test/data/daemon/GU/GU/GU.Enisey/GU.Enisey.Contract/Project Items/InquiryInternal/1.0/inquiry-internal-service-1.0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema" 
                  xmlns:tns="urn://x-artefacts-it-ru/dob/poltava/inquiry-internal/1.0"
                  xmlns:types="urn://x-artefacts-it-ru/dob/poltava/inquiry-internal/req-types/1.0"
                  targetNamespace="urn://x-artefacts-it-ru/dob/poltava/inquiry-internal/1.0">
    
    <wsdl:documentation>InquiryInternalService 1.0</wsdl:documentation>
    
    <wsdl:types>
        <xs:schema>
            <xs:import namespace="urn://x-artefacts-it-ru/dob/poltava/inquiry-internal/req-types/1.0" schemaLocation="inquiry-internal-req-types-1.0.xsd"/>
        </xs:schema>
    </wsdl:types>

    <wsdl:message name="getInquiryStateRequestMsg">
        <wsdl:part name="parameters" element="types:getInquiryStateRequest" />
    </wsdl:message>
    <wsdl:message name="getInquiryStateResponseMsg">
        <wsdl:part name="parameters" element="types:getInquiryStateResponse" />
    </wsdl:message>
    
    <wsdl:message name="setInquiryRequestMsg">
        <wsdl:part name="parameters" element="types:setInquiryRequest" />
    </wsdl:message>
    <wsdl:message name="setInquiryResponseMsg">
        <wsdl:part name="parameters" element="types:setInquiryResponse" />
    </wsdl:message>
	
    <wsdl:portType name="InquiryInternalPortType10">
        <wsdl:operation name="getInquiryState">
            <wsdl:documentation>получить статус запроса</wsdl:documentation>
            <wsdl:input message="tns:getInquiryStateRequestMsg" />
            <wsdl:output message="tns:getInquiryStateResponseMsg" />
        </wsdl:operation>
        <wsdl:operation name="setInquiry">
            <wsdl:documentation>создать запрос</wsdl:documentation>
            <wsdl:input message="tns:setInquiryRequestMsg" />
            <wsdl:output message="tns:setInquiryResponseMsg" />
        </wsdl:operation>
    </wsdl:portType>
		
    <wsdl:binding name="InquiryInternalSoap11Binding" type="tns:InquiryInternalPortType10">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getInquiryState">
            <soap:operation soapAction="urn:getInquiryState" />
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setInquiry">
            <soap:operation soapAction="urn:setInquiry" />
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
  
    <wsdl:service name="InquiryInternalService10">
        <wsdl:port name="InquiryInternalEndpoint10" binding="tns:InquiryInternalSoap11Binding">
            <soap:address location="http://localhost:8080/poltava/InquiryInternalService10.InquiryInternalEndpoint10/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>