MockMetrics/test/data/daemon/GU/GU/GU.Enisey/GU.Enisey.BL/Converters/MZ/Licensing/Xsd/LicensingFarmActivity-1.8.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:krsk="urn://x-artefacts-it-ru/dob/state-services/krsk/LicensingFarmActivity/1.8" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:altova="http://www.altova.com/xml-schema-extensions" xmlns:hints="urn://x-artefacts-it-ru/dob/xml-editor/rendering-hints/1.3" xmlns:ns1="urn://x-artefacts-it-ru/dob/state-services/commons/1.4" xmlns:ns3="http://smev.gosuslugi.ru/request/rev111111" xmlns:ns2="urn://x-artefacts-it-ru/dob/state-services/krsk/LicensingFarmActivity/1.8" targetNamespace="urn://x-artefacts-it-ru/dob/state-services/krsk/LicensingFarmActivity/1.8" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="urn://x-artefacts-it-ru/dob/state-services/commons/1.4" schemaLocation="state-services-commons-1.4.xsd"/>
	<xs:import namespace="http://smev.gosuslugi.ru/request/rev111111" schemaLocation="smev-attachments-2.2.4.xsd"/>
	<xs:element name="LicensingFarmActivity" hints:rus="Лицензирование фармацевтической деятельности">
		<xs:complexType>
			<xs:choice hints:showInChoiceScreen="true" hints:rus="Выберите вариант оказания услуги">
				<xs:element name="NewLicense" hints:rus="Получение лицензии на осуществление фармацевтической деятельности" hints:roleName="subservice">
					<xs:complexType>
						<xs:sequence>
							<xs:choice hints:showInChoiceScreen="true" hints:rus="Выберите правовой статус заявителя">
								<xs:element name="NewLicenseUL" hints:rus="Юридическое лицо" hints:roleName="applicant-type">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="OrgInfo" type="ns2:OrgInfoType" hints:rus="Информация о заявителе" hints:injectionType="injectAndGetBack"/>
											<xs:element name="WorksInfo" type="ns2:WorksInfoType" maxOccurs="unbounded" hints:rus="Выполняемые работы, оказываемые услуги, подлежащие лицензированию"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="NewLicenseIP" hints:rus="Индивидуальный предприниматель" hints:roleName="applicant-type">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="IPInfo" type="ns2:IPInfoType" hints:rus="Информация о заявителе" hints:injectionType="injectAndGetBack"/>
											<xs:element name="WorksInfo" type="ns2:WorksInfoType" maxOccurs="unbounded" hints:rus="Выполняемые работы, оказываемые услуги, подлежащие лицензированию"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:choice>
							<xs:element name="DocAttach" type="ns3:AppliedDocumentsType" minOccurs="0" hints:rus="Сведения о предоставляемых документах" hints:widgetType="deleteProtected"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ReregistrationLicense" hints:rus="Переоформление лицензии на осуществление фармацевтической деятельности" hints:roleName="subservice">
					<xs:complexType>
						<xs:sequence>
							<xs:choice hints:showInChoiceScreen="true" hints:rus="Выберите правовой статус заявителя">
								<xs:element name="ReregistrationLicenseUL" hints:rus="Юридическое лицо" hints:roleName="applicant-type">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="OrgInfo" type="krsk:OrgInfoType" hints:rus="Информация о лицензиате, его правопреемнике либо об ином предусмотренном федеральным законом лице" hints:injectionType="injectAndGetBack"/>
											<xs:element name="LicenseInfo" type="ns2:LicenseInfoType" hints:rus="Информация о переоформляемой лицензии на осуществление фармацевтической деятельности"/>
											<xs:element name="Base" maxOccurs="unbounded" hints:rus="Основание для переоформления лицензии (Указывается информация, актуальная до изменения соответсвующих сведений)">
												<xs:complexType>
													<xs:choice hints:rus="Выберите основание для переоформления лицензии">
														<xs:element name="Reorganization" hints:rus="Реорганизация юридического лица в форме преобразования">
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="FullName" type="ns1:string-200" hints:rus="Полное наименование юридического лица" hints:userHint="Полное наименование юридического лица. Пример: Общество с ограниченной ответственностью «20 век фокс»"/>
																	<xs:element name="LawForm" type="ns1:string-200" hints:rus="Организационно-правовая форма юридического лица" hints:userHint="Пример: Общество с ограниченной ответственностью"/>
																	<xs:element name="ShortName" type="ns1:string-100" minOccurs="0" hints:rus="Сокращенное наименование юридического лица  (в случае, если имеется)" hints:userHint="Пример: 20 век фокс"/>
																	<xs:element name="FirmName" type="ns1:string-200" minOccurs="0" hints:rus="Фирменное наименование юридического лица (в случае, если имеется)" hints:userHint="Пример: XX century FOX"/>
																	<xs:element name="DocData" type="krsk:DocDataType" hints:rus="Данные документа, подтверждающего факт внесения соответствующих изменений в единый государственный реестр юридических лиц"/>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
														<xs:element name="Rename" hints:rus="Изменение наименования юридического лица">
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="FullName" type="ns1:string-200" hints:rus="Полное наименование юридического лица" hints:userHint="Полное наименование юридического лица. Пример: Общество с ограниченной ответственностью «20 век фокс»"/>
																	<xs:element name="LawForm" type="ns1:string-200" hints:rus="Организационно-правовая форма юридического лица" hints:userHint="Пример: Общество с ограниченной ответственностью"/>
																	<xs:element name="ShortName" type="ns1:string-100" minOccurs="0" hints:rus="Сокращенное наименование юридического лица  (в случае, если имеется)" hints:userHint="Пример: 20 век фокс"/>
																	<xs:element name="FirmName" type="ns1:string-200" minOccurs="0" hints:rus="Фирменное наименование юридического лица (в случае, если имеется)" hints:userHint="Пример: XX century FOX"/>
																	<xs:element name="DocData" type="krsk:DocDataType" hints:rus="Данные документа, подтверждающего факт внесения соответствующих изменений в единый государственный реестр юридических лиц"/>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
														<xs:element name="ChangeAddress" hints:rus="Изменение адреса места нахождения юридического лица">
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="NewAddress" type="ns1:OptionalIndexAddress-Type" hints:rus="Адрес места нахождения юридического лица (указывается информация, актуальная до изменения соответствующих сведений)"/>
																	<xs:element name="DocData" type="krsk:DocDataType" hints:rus="Данные документа, подтверждающего факт внесения соответствующих изменений в единый государственный реестр юридических лиц"/>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
														<xs:element name="AnotherAddress" hints:rus="Осуществление лицензируемого вида деятельности по адресу, не указанному в лицензии">
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="WorksInfo" type="ns2:WorksInfoType" maxOccurs="unbounded" hints:rus="Информация о новых адресах, ранее не указанных в лицензии"/>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
														<xs:element name="StopActivityAddress" hints:rus="Прекращение лицензируемого вида деятельности по одному или нескольким адресам">
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="StopInfo" maxOccurs="unbounded" hints:rus="Информация о прекращении деятельности">
																		<xs:complexType>
																			<xs:sequence>
																				<xs:element name="StopAddress" type="ns1:OptionalIndexAddress-Type" hints:rus="Адрес, по которому прекращена деятельность"/>
																				<xs:element name="StopDate" type="xs:date" hints:rus="Дата фактического прекращения деятельности" hints:dateRestriction="past" hints:userHint="Дата должна быть не более текущей"/>
																			</xs:sequence>
																		</xs:complexType>
																	</xs:element>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
														<xs:element name="Merge" hints:rus="Реорганизация юридических лиц в форме слияния">
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="LegalPersonMerge" maxOccurs="unbounded" hints:rus="Юридическое лицо">
																		<xs:complexType>
																			<xs:sequence>
																				<xs:element name="FullName" type="ns1:string-200" hints:rus="Полное наименование реорганизованного юридического лица" hints:userHint="Полное наименование юридического лица. Пример: Общество с ограниченной ответственностью «20 век фокс»"/>
																				<xs:element name="LawForm" type="ns1:string-200" hints:rus="Организационно-правовая форма реорганизованного юридического лица" hints:userHint="Пример: Общество с ограниченной ответственностью"/>
																				<xs:element name="OGRN" type="ns1:OGRN-Type" hints:rus="Государственный регистрационный номер записи о создании юридического лица"/>
																				<xs:element name="INN" type="ns1:LegalPersonINN-Type" hints:rus="ИНН юридического лица"/>
																				<xs:element name="LicenseInfo" type="krsk:LicenseInfoType" hints:rus="Лицензия на осуществление медицинской деятельности (за исключением указанной деятельности, осуществляемой медицинскими организациями и другими организациями, входящими в частную систему здравоохранения, на территории инновационного центра «Сколково»)"/>
																			</xs:sequence>
																		</xs:complexType>
																	</xs:element>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
														<xs:element name="AnotherWorks" hints:rus="Выполнение работ, оказание услуг, не указанных в лицензии">
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="WorksInfo" type="ns2:WorksInfoType" maxOccurs="unbounded" hints:rus="Информация о новых работах, услугах, ранее не указанных в лицензии"/>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
														<xs:element name="StopWorks" maxOccurs="1" hints:rus="Информация о работах, услугах, по которым деятельность прекращена">
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="StopWorksInfo" maxOccurs="unbounded" hints:rus="Информация о работах, услугах, по которым деятельность прекращена">
																		<xs:complexType>
																			<xs:sequence>
																				<xs:element name="ActivityAddress" type="ns1:OptionalIndexAddress-Type" hints:rus="Адрес места осуществления лицензируемого вида деятельности"/>
																				<xs:element name="Works" hints:rus="Выполняемые работы, оказываемые услуги, по которым деятельность прекращена">
																					<xs:complexType>
																						<xs:sequence>
																							<xs:element name="StoringDrugs" type="xs:boolean" hints:rus="Хранение лекарственных средств для медицинского применения"/>
																							<xs:element name="StoringMedications" type="xs:boolean" hints:rus="Хранение лекарственных препаратов для медицинского применения"/>
																							<xs:element name="TransportDrugs" type="xs:boolean" hints:rus="Перевозка лекарственных средств для медицинского применения"/>
																							<xs:element name="TransportMedications" type="xs:boolean" hints:rus="Перевозка лекарственных препаратов для медицинского применения"/>
																							<xs:element name="TradeMedications" type="xs:boolean" hints:rus="Розничная торговля лекарственными препаратами для медицинского применения"/>
																							<xs:element name="DistributionMedications" type="xs:boolean" hints:rus="Отпуск лекарственных препаратов для медицинского применения"/>
																							<xs:element name="PrepareMedications" type="xs:boolean" hints:rus="Изготовление лекарственных препаратов для медицинского применения"/>
																						</xs:sequence>
																					</xs:complexType>
																				</xs:element>
																			</xs:sequence>
																		</xs:complexType>
																	</xs:element>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
														<xs:element name="NewWorks" hints:rus="Появление работ, услуг, которые выполняются в составе конкретного вида деятельности (в порядке, предусмотренном ч.4 ст.22 ФЗ «О лицензировании отдельных видов деятельности»)">
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="NewWorksInfo" type="ns2:WorksInfoType" maxOccurs="unbounded" hints:rus="Информация о появившихся работах, услугах, которые выполняются в составе конкретного вида деятельности"/>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
													</xs:choice>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="ReregistrationLicenseIP" hints:rus="Индивидуальный предприниматель" hints:roleName="applicant-type">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="IPInfo" type="ns2:IPInfoType" hints:rus="Информация о лицензиате, его правопреемнике либо об ином предусмотренном федеральным законом лице" hints:injectionType="injectAndGetBack"/>
											<xs:element name="LicenseInfo" type="ns2:LicenseInfoType" hints:rus="Информация о переоформляемой лицензии на осуществление фармацевтической деятельности"/>
											<xs:element name="Base" maxOccurs="unbounded" hints:rus="Основание для переоформления лицензии (Указывается информация, актуальная до изменения соответсвующих сведений)">
												<xs:complexType>
													<xs:choice hints:rus="Выберите основание для переоформления лицензии">
														<xs:element name="Rename" hints:rus="Изменение имени, фамилии и (в случае, если имеется) отчества индивидуального предпринимателя">
															<xs:complexType>
																<xs:sequence>
																	<xs:group ref="ns1:PhysicalPersonQualifiedName-ModelGroup"/>
																	<xs:element name="DocData" type="krsk:DocDataType" hints:rus="Данные документа, подтверждающего факт внесения соответствующих изменений в единый государственный реестр индивидуальных предпринимателей"/>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
														<xs:element name="ChangeAddress" hints:rus="Изменение места жительства индивидуального предпринимателя">
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="NewAddress" type="ns1:OptionalIndexAddress-Type" hints:rus="Адрес места жительства индивидуального предпринимателя (указывается информация, актуальная до изменения соответствующих сведений)"/>
																	<xs:element name="Document" type="ns1:Document-Type" hints:rus="Реквизиты документа, удостоверяющего личность индивидуального предпринимателя"/>
																	<xs:element name="DocData" type="krsk:DocDataType" hints:rus="Данные документа, подтверждающего факт внесения соответствующих изменений в единый государственный реестр индивидуальных предпринимателей"/>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
														<xs:element name="ChangeDocument" hints:rus="Изменение реквизитов документа, удостоверяющего личность индивидуального предпринимателя">
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="NewAddress" type="ns1:OptionalIndexAddress-Type" hints:rus="Адрес места жительства индивидуального предпринимателя"/>
																	<xs:element name="Document" type="ns1:Document-Type" hints:rus="Реквизиты документа, удостоверяющего личность индивидуального предпринимателя (указывается информация, актуальная до изменения соответствующих сведений)"/>
																	<xs:element name="DocData" type="krsk:DocDataType" hints:rus="Данные документа, подтверждающего факт внесения соответствующих изменений в единый государственный реестр индивидуальных предпринимателей"/>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
														<xs:element name="AnotherAddress" hints:rus="Осуществление лицензируемого вида деятельности по адресу, не указанному в лицензии">
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="WorksInfo" type="ns2:WorksInfoType" maxOccurs="unbounded" hints:rus="Информация о новых адресах, ранее не указанных в лицензии"/>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
														<xs:element name="StopActivityAddress" hints:rus="Прекращение лицензируемого вида деятельности по одному или нескольким адресам">
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="StopInfo" maxOccurs="unbounded" hints:rus="Информация о прекращении деятельности">
																		<xs:complexType>
																			<xs:sequence>
																				<xs:element name="StopAddress" type="ns1:OptionalIndexAddress-Type" hints:rus="Адрес, по которому прекращена деятельность"/>
																				<xs:element name="StopDate" type="xs:date" hints:rus="Дата фактического прекращения деятельности" hints:dateRestriction="past" hints:userHint="Дата должна быть не более текущей"/>
																			</xs:sequence>
																		</xs:complexType>
																	</xs:element>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
														<xs:element name="AnotherWorks" hints:rus="Выполнение работ, оказание услуг, не указанных в лицензии">
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="WorksInfo" type="ns2:WorksInfoType" maxOccurs="unbounded" hints:rus="Информация о новых работах, услугах, ранее не указанных в лицензии"/>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
														<xs:element name="StopWorks" hints:rus="Прекращение выполнения работ, оказания услуг">
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="StopWorksInfo" maxOccurs="unbounded" hints:rus="Информация о работах, услугах, по которым деятельность прекращена">
																		<xs:complexType>
																			<xs:sequence>
																				<xs:element name="ActivityAddress" type="ns1:OptionalIndexAddress-Type" hints:rus="Адрес места осуществления лицензируемого вида деятельности"/>
																				<xs:element name="Works" hints:rus="Выполняемые работы, оказываемые услуги, по которым деятельность прекращена">
																					<xs:complexType>
																						<xs:sequence>
																							<xs:element name="StoringDrugs" type="xs:boolean" hints:rus="Хранение лекарственных средств для медицинского применения"/>
																							<xs:element name="StoringMedications" type="xs:boolean" hints:rus="Хранение лекарственных препаратов для медицинского применения"/>
																							<xs:element name="TransportDrugs" type="xs:boolean" hints:rus="Перевозка лекарственных средств для медицинского применения"/>
																							<xs:element name="TransportMedications" type="xs:boolean" hints:rus="Перевозка лекарственных препаратов для медицинского применения"/>
																							<xs:element name="TradeMedications" type="xs:boolean" hints:rus="Розничная торговля лекарственными препаратами для медицинского применения"/>
																							<xs:element name="DistributionMedications" type="xs:boolean" hints:rus="Отпуск лекарственных препаратов для медицинского применения"/>
																							<xs:element name="PrepareMedications" type="xs:boolean" hints:rus="Изготовление лекарственных препаратов для медицинского применения"/>
																						</xs:sequence>
																					</xs:complexType>
																				</xs:element>
																			</xs:sequence>
																		</xs:complexType>
																	</xs:element>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
														<xs:element name="NewWorks" hints:rus="Появление работ, услуг, которые выполняются в составе конкретного вида деятельности (в порядке, предусмотренном ч.4 ст.22 ФЗ «О лицензировании отдельных видов деятельности»)">
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="NewWorksInfo" type="ns2:WorksInfoType" maxOccurs="unbounded" hints:rus="Информация о появившихся работах, услугах, которые выполняются в составе конкретного вида деятельности"/>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
													</xs:choice>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:choice>
							<xs:element name="DocAttach" type="ns3:AppliedDocumentsType" minOccurs="0" hints:rus="Сведения о предоставляемых документах" hints:widgetType="deleteProtected"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="DublicatLicense" hints:rus="Получение дубликата лицензии на осуществление фармацевтической деятельности" hints:roleName="subservice">
					<xs:complexType>
						<xs:sequence>
							<xs:choice hints:showInChoiceScreen="true" hints:rus="Выберите правовой статус заявителя">
								<xs:element name="DublicatLicenseUL" hints:rus="Юридическое лицо" hints:roleName="applicant-type">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Reason" hints:rus="Причина получения дубликата">
												<xs:simpleType>
													<xs:restriction base="xs:string">
														<xs:enumeration value="Утрата лицензии"/>
														<xs:enumeration value="Порча лицензии"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
											<xs:element name="ShortOrgInfo" type="ns2:ShortOrgInfoType" hints:rus="Информация о заявителе" hints:injectionType="injectAndGetBack"/>
											<xs:element name="LicenseInfo" type="ns2:LicenseInfoType" hints:rus="Информация о дублируемой лицензии"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="DublicatLicenseIP" hints:rus="Индивидуальный предприниматель" hints:roleName="applicant-type">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Reason" hints:rus="Причина получения дубликата">
												<xs:simpleType>
													<xs:restriction base="xs:string">
														<xs:enumeration value="Утрата лицензии"/>
														<xs:enumeration value="Порча лицензии"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
											<xs:element name="ShortIPInfo" type="ns2:ShortIPInfoType" hints:rus="Информация о заявителе" hints:injectionType="injectAndGetBack"/>
											<xs:element name="LicenseInfo" type="ns2:LicenseInfoType" hints:rus="Информация о дублируемой лицензии"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:choice>
							<xs:element name="DocAttach" type="ns3:AppliedDocumentsType" minOccurs="0" hints:rus="Сведения о предоставляемых документах" hints:widgetType="deleteProtected"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="CopyLicense" hints:rus="Получение копии лицензии на осуществление фармацевтической деятельности" hints:roleName="subservice">
					<xs:complexType>
						<xs:sequence>
							<xs:choice hints:showInChoiceScreen="true" hints:rus="Выберите правовой статус заявителя">
								<xs:element name="CopyLicenseUL" hints:rus="Юридическое лицо" hints:roleName="applicant-type">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="ShortOrgInfo" type="ns2:ShortOrgInfoType" hints:rus="Информация о заявителе" hints:injectionType="injectAndGetBack"/>
											<xs:element name="LicenseInfo" type="ns2:LicenseInfoType" hints:rus="Информация о копируемой лицензии"/>
											<xs:element name="Quantity" hints:rus="Количество копий" hints:userHint="Введите число. Пример: 50">
												<xs:simpleType>
													<xs:restriction base="xs:decimal">
														<xs:totalDigits value="5"/>
														<xs:fractionDigits value="0"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="CopyLicenseIP" hints:rus="Индивидуальный предприниматель" hints:roleName="applicant-type">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="ShortIPInfo" type="ns2:ShortIPInfoType" hints:rus="Информация о о лицензиате, его правопреемнике" hints:injectionType="injectAndGetBack"/>
											<xs:element name="LicenseInfo" type="ns2:LicenseInfoType" hints:rus="Информация о копируемой лицензии"/>
											<xs:element name="Quantity" hints:rus="Количество копий" hints:userHint="Введите число. Пример: 50">
												<xs:simpleType>
													<xs:restriction base="xs:integer">
														<xs:minInclusive value="1"/>
														<xs:maxInclusive value="10000"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:choice>
							<xs:element name="DocAttach" type="ns3:AppliedDocumentsType" minOccurs="0" hints:rus="Сведения о предоставляемых документах" hints:widgetType="deleteProtected"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="StopLicense" hints:rus="Прекращение лицензируемого вида деятельности" hints:roleName="subservice">
					<xs:complexType>
						<xs:sequence>
							<xs:choice hints:showInChoiceScreen="true" hints:rus="Выберите правовой статус заявителя">
								<xs:element name="StopLicenseUL" hints:rus="Юридическое лицо" hints:roleName="applicant-type">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="OrgInfo" type="ns2:OrgInfoType" hints:rus="Информация о лицензиате, его правопреемнике" hints:injectionType="injectAndGetBack"/>
											<xs:element name="LicenseInfo" type="ns2:LicenseInfoType" hints:rus="Информация о лицензии, действие которой прекращается"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="StopLicenseIP" hints:rus="Индивидуальный предприниматель" hints:roleName="applicant-type">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="IPInfo" type="ns2:IPInfoType" hints:rus="Информация о заявителе" hints:injectionType="injectAndGetBack"/>
											<xs:element name="LicenseInfo" type="ns2:LicenseInfoType" hints:rus="Информация о лицензии, действие которой прекращается"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:choice>
							<xs:element name="DocAttach" type="ns3:AppliedDocumentsType" minOccurs="0" hints:rus="Сведения о предоставляемых документах" hints:widgetType="deleteProtected"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="WorksInfoType" hints:rus="Тип: Информация о работах, услугах">
		<xs:sequence>
			<xs:element name="ActivityAddress" type="ns1:OptionalIndexAddress-Type" hints:rus="Адрес места осуществления лицензируемого вида деятельности"/>
			<xs:element name="Works" hints:rus="Перечень выполняемых работ, оказываемых услуг">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="StoringDrugs" type="xs:boolean" hints:rus="Хранение лекарственных средств для медицинского применения"/>
						<xs:element name="StoringMedications" type="xs:boolean" hints:rus="Хранение лекарственных препаратов для медицинского применения"/>
						<xs:element name="TransportDrugs" type="xs:boolean" hints:rus="Перевозка лекарственных средств для медицинского применения"/>
						<xs:element name="TransportMedications" type="xs:boolean" hints:rus="Перевозка лекарственных препаратов для медицинского применения"/>
						<xs:element name="TradeMedications" type="xs:boolean" hints:rus="Розничная торговля лекарственными препаратами для медицинского применения"/>
						<xs:element name="DistributionMedications" type="xs:boolean" hints:rus="Отпуск лекарственных препаратов для медицинского применения"/>
						<xs:element name="PrepareMedications" type="xs:boolean" hints:rus="Изготовление лекарственных препаратов для медицинского применения"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Subject" hints:rus="Заявляемый вид субъекта, осуществляющего фармацевтическую деятельность">
				<xs:simpleType>
					<xs:restriction base="ns1:string-200">
						<xs:enumeration value="Аптека готовых лекарственных форм"/>
						<xs:enumeration value="Производственная аптека"/>
						<xs:enumeration value="Производственная аптека с правом изготовления асептических лекарственных препаратов"/>
						<xs:enumeration value="Аптечный пункт"/>
						<xs:enumeration value="Аптечный киоск"/>
						<xs:enumeration value="Медицинская организация"/>
						<xs:enumeration value="Амбулатория"/>
						<xs:enumeration value="Фельдшерский пункт"/>
						<xs:enumeration value="Фельдшерско-акушерский пункт"/>
						<xs:enumeration value="Центр (отделение) общей врачебной (семейной) практики"/>
						<xs:enumeration value="Индивидуальный предприниматель"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DocRequisites" hints:rus="Реквизиты документов, которые свидетельствуют о соответствии соискателя лицензии лицензионным требованиям">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="OrgName" type="ns1:string-200" hints:rus="Наименование органа (организации), выдавшего документ" hints:userHint="Пример: Росздравнадзор"/>
						<xs:element name="Date" type="xs:date" hints:rus="Дата" hints:dateRestriction="past" hints:userHint="Дата должна быть не более текущей"/>
						<xs:element name="Number" type="ns1:string-20" hints:rus="Номер" hints:userHint="Номер документа, подстверждающего соответствие соискателя лицензии лицензионным требованиям"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IPInfoType" hints:rus="Тип: Информация об индивидуальном предпринимателе">
		<xs:sequence>
			<xs:group ref="ns1:ApplicantPhysicalPersonQualifiedName-ModelGroup"/>
			<xs:element name="IPAddress" type="ns1:OptionalIndexAddress-Type" hints:rus="Адрес места жительства"/>
			<xs:element name="Document" type="ns1:Document-Type" hints:rus="Данные документа, удостоверяющего личность индивидуального предпринимателя"/>
			<xs:element name="OGRN" type="ns2:OGRNIPType" hints:rus="Государственный регистрационный номер записи о государственной регистрации индивидуального предпринимателя"/>
			<xs:element name="INN" type="ns2:INNIPType" hints:rus="ИНН индивидуального предпринимателя"/>
			<xs:element name="Phone" type="ns1:PhoneNumberRF-Type" hints:rus="Номер телефона (факса)"/>
			<xs:element name="Email" type="ns1:Email-Type" minOccurs="0" hints:rus="Адрес электронной почты"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IPInfoTypeReg" hints:rus="Тип: Информация об индивидуальном предпринимателе">
		<xs:sequence>
			<xs:group ref="ns1:ApplicantPhysicalPersonQualifiedName-ModelGroup"/>
			<xs:element name="IPAddress" type="ns1:OptionalIndexAddress-Type" hints:rus="Адрес места жительства"/>
			<xs:element name="PlacesAddress" type="ns1:OptionalIndexAddress-Type" maxOccurs="unbounded" hints:rus="Адрес места осуществления лицензируемого вида деятельности"/>
			<xs:element name="Document" type="ns1:Document-Type" hints:rus="Данные документа, удостоверяющего личность индивидуального предпринимателя"/>
			<xs:element name="OGRN" type="ns1:OGRNIP-Type" hints:rus="Государственный регистрационный номер записи о государственной регистрации индивидуального предпринимателя"/>
			<xs:element name="INN" type="ns2:INNIPType" hints:rus="ИНН индивидуального предпринимателя"/>
			<xs:element name="Phone" type="ns1:PhoneNumberRF-Type" hints:rus="Номер телефона (факса)"/>
			<xs:element name="Email" type="ns1:Email-Type" minOccurs="0" hints:rus="Адрес электронной почты"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ShortIPInfoType" hints:rus="Тип: Сокращенная информация об индивидуальном предпринимателе">
		<xs:sequence>
			<xs:group ref="ns1:ApplicantPhysicalPersonQualifiedName-ModelGroup"/>
			<xs:element name="IPAddress" type="ns1:OptionalIndexAddress-Type" hints:rus="Адрес места жительства"/>
			<xs:element name="OGRN" type="ns1:OGRNIP-Type" hints:rus="Государственный регистрационный номер записи о государственной регистрации индивидуального предпринимателя"/>
			<xs:element name="INN" type="ns1:PhysicalPersonINN-Type" hints:rus="ИНН индивидуального предпринимателя"/>
			<xs:element name="Phone" type="ns1:PhoneNumberRF-Type" hints:rus="Номер телефона (факса)"/>
			<xs:element name="Email" type="ns1:Email-Type" minOccurs="0" hints:rus="Адрес электронной почты"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrgInfoType" hints:rus="Тип: Информация об организации">
		<xs:sequence>
			<xs:element name="FullName" type="ns1:string-200" hints:businessMeaning="userLegalPersonName" hints:rus="Полное наименование юридического лица" hints:userHint="Полное наименование юридического лица. Пример: Общество с ограниченной ответственностью «20 век фокс»"/>
			<xs:element name="LawForm" type="ns1:string-200" hints:rus="Организационно-правовая форма" hints:userHint="Пример: Общество с ограниченной ответственностью"/>
			<xs:element name="ShortName" type="ns1:string-100" minOccurs="0" hints:rus="Сокращенное наименование юридического лица (в случае, если имеется)" hints:userHint="Пример: 20 век фокс"/>
			<xs:element name="FirmName" type="ns1:string-100" minOccurs="0" hints:rus="Фирменное наименование юридического лица (в случае, если имеется)" hints:userHint="Пример: XX century FOX"/>
			<xs:element name="OrgAddress" type="ns1:OptionalIndexAddress-Type" hints:rus="Адрес места нахождения юридического лица"/>
			<xs:element name="OGRN" type="ns2:OGRNULType" hints:rus="Государственный регистрационный номер записи о создании юридического лица"/>
			<xs:element name="INN" type="ns2:INNULType" hints:rus="ИНН юридического лица"/>
			<xs:element name="Phone" type="ns1:PhoneNumberRF-Type" hints:rus="Номер телефона (факса)"/>
			<xs:element name="Email" type="ns1:Email-Type" minOccurs="0" hints:rus="Адрес электронной почты"/>
			<xs:element name="Director" type="ns1:Director-Type" hints:rus="Информация о руководителе или представителе юридического лица"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ShortOrgInfoType" hints:rus="Тип: Сокращенная информация об организации">
		<xs:sequence>
			<xs:element name="FullName" type="ns1:string-200" hints:rus="Полное наименование юридического лица" hints:businessMeaning="userLegalPersonName" hints:userHint="Полное наименование юридического лица. Пример: Общество с ограниченной ответственностью «20 век фокс»"/>
			<xs:element name="LawForm" type="ns1:string-200" hints:rus="Организационно-правовая форма" hints:userHint="Пример: Общество с ограниченной ответственностью"/>
			<xs:element name="OrgAddress" type="ns1:OptionalIndexAddress-Type" hints:rus="Адрес места нахождения юридического лица"/>
			<xs:element name="OGRN" type="ns1:OGRN-Type" hints:rus="Государственный регистрационный номер записи о создании юридического лица"/>
			<xs:element name="INN" type="ns1:LegalPersonINN-Type" hints:rus="ИНН юридического лица"/>
			<xs:element name="Phone" type="ns1:PhoneNumberRF-Type" hints:rus="Номер телефона (факса)"/>
			<xs:element name="Email" type="ns1:Email-Type" minOccurs="0" hints:rus="Адрес электронной почты"/>
			<xs:element name="Director" type="ns1:Director-Type" hints:rus="Информация о руководителе или представителе юридического лица"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrgInfoTypeReg" hints:rus="Тип: Информация об организации">
		<xs:sequence>
			<xs:element name="FullName" type="ns1:string-200" hints:rus="Полное наименование юридического лица" hints:businessMeaning="userLegalPersonName" hints:userHint="Полное наименование юридического лица. Пример: Общество с ограниченной ответственностью «20 век фокс»"/>
			<xs:element name="LawForm" type="ns1:string-200" hints:rus="Организационно-правовая форма" hints:userHint="Пример: Общество с ограниченной ответственностью"/>
			<xs:element name="ShortName" type="ns1:string-100" minOccurs="0" hints:rus="Сокращенное наименование юридического лица (в случае, если имеется)" hints:userHint="Пример: 20 век фокс"/>
			<xs:element name="FirmName" type="ns1:string-100" minOccurs="0" hints:rus="Фирменное наименование юридического лица (в случае, если имеется)" hints:userHint="Пример: XX century FOX"/>
			<xs:element name="OrgAddress" type="ns1:OptionalIndexAddress-Type" hints:rus="Адрес места нахождения юридического лица"/>
			<xs:element name="PlacesAddress" type="ns1:OptionalIndexAddress-Type" maxOccurs="unbounded" hints:rus="Адрес места осуществления лицензируемого вида деятельности"/>
			<xs:element name="OGRN" type="ns1:OGRN-Type" hints:rus="Государственный регистрационный номер записи о создании юридического лица"/>
			<xs:element name="INN" type="ns1:LegalPersonINN-Type" hints:rus="ИНН юридического лица"/>
			<xs:element name="Phone" type="ns1:PhoneNumberRF-Type" hints:rus="Номер телефона (факса)"/>
			<xs:element name="Email" type="ns1:Email-Type" minOccurs="0" hints:rus="Адрес электронной почты"/>
			<xs:element name="Director" type="ns1:Director-Type" hints:rus="Информация о руководителе или представителе юридического лица"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="INNULType" hints:rus="Тип: ИНН ЮЛ">
		<xs:sequence>
			<xs:element name="INN" type="ns1:LegalPersonINN-Type" hints:rus="ИНН" hints:businessMeaning="userLegalPersonINN"/>
			<xs:element name="TaxAuthorityData" hints:rus="Cвидетельство о постановке на учет российской организации в налоговом органе на территории РФ">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Series" type="ns1:string-10" hints:rus="Серия" hints:userHint="Серия свидететльства о постановке на учет в налоговом органе"/>
						<xs:element name="Number" type="ns1:string-10" hints:rus="Номер" hints:userHint="Номер свидететльства о постановке на учет в налоговом органе"/>
						<xs:element name="Date" type="xs:date" hints:rus="Дата постановки на учет" hints:dateRestriction="past" hints:userHint="Дата должна быть не более текущей"/>
						<xs:element name="Code" type="ns1:FourDigitString-Type" hints:rus="Код налогового органа"/>
						<xs:element name="IssuerName" type="ns1:string-200" hints:rus="Наименование органа, выдавшего документ" hints:userHint="Пример: Управление Федеральной налоговой службы по Красноярскому краю"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="INNIPType" hints:rus="Тип: ИНН ИП">
		<xs:sequence>
			<xs:element name="INN" type="ns1:PhysicalPersonINN-Type" hints:rus="ИНН" hints:businessMeaning="userPhysicalPersonINN"/>
			<xs:element name="TaxAuthorityData" hints:rus="Cвидетельство о постановке на учет индивидуального предпринимателя в налоговом органе на территории РФ">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Series" type="ns1:string-10" hints:rus="Серия" hints:userHint="Серия свидететльства о постановке на учет в налоговом органе"/>
						<xs:element name="Number" type="ns1:string-10" hints:rus="Номер" hints:userHint="Номер свидететльства о постановке на учет в налоговом органе"/>
						<xs:element name="Date" type="xs:date" hints:rus="Дата постановки на учет" hints:dateRestriction="past" hints:userHint="Дата должна быть не более текущей"/>
						<xs:element name="Code" type="ns1:FourDigitString-Type" hints:rus="Код налогового органа"/>
						<xs:element name="IssuerName" type="ns1:string-200" hints:rus="Наименование органа, выдавшего документ" hints:userHint="Пример: Управление Федеральной налоговой службы по Красноярскому краю"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OGRNIPType" hints:rus="Тип: ОГРН ИП">
		<xs:sequence>
			<xs:element name="OGRNnumber" type="ns1:OGRNIP-Type" hints:rus="Основной государственный регистрационный номер"/>
			<xs:element name="EGRULData" maxOccurs="1" hints:rus="Данные  документа, подтверждающего факт внесения сведений об индивидуальном предпринимателе в Единый государственный реестр индивидуальных предпринимателей">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Series" type="ns1:string-10" hints:rus="Серия" hints:userHint="Серия документа, подтверждающего факт внесения сведений об ИП в ЕГРИП"/>
						<xs:element name="Number" type="ns1:string-10" hints:rus="Номер" hints:userHint="Номер документа, подтверждающего факт внесения сведений об ИП в ЕГРИП"/>
						<xs:element name="DocIssuedBy" type="ns1:string-200" hints:rus="Кем выдан" hints:userHint="Наименование органа, выдавшего документ"/>
						<xs:element name="DocIssuedDate" type="xs:date" hints:rus="Когда выдан" hints:dateRestriction="past" hints:userHint="Дата должна быть не более текущей"/>
						<xs:element name="RegAddress" type="ns1:OptionalIndexAddress-Type" hints:rus="Адрес места нахождения органа, осуществившего государственную регистрацию"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OGRNULType" hints:rus="Тип: ОГРН ЮЛ">
		<xs:sequence>
			<xs:element name="OGRNnumber" type="ns1:OGRN-Type" hints:rus="Основной государственный регистрационный номер" hints:businessMeaning="userLegalPersonINN"/>
			<xs:element name="EGRULData" maxOccurs="1" hints:rus="Данные  документа, подтверждающего факт внесения сведений о юридическом лице в Единый государственный реестр юридических лиц">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Series" type="ns1:string-10" hints:rus="Серия" hints:userHint="Серия документа, подтверждающего факт внесения сведений о ЮЛ в ЕГРЮЛ"/>
						<xs:element name="Number" type="ns1:string-10" hints:rus="Номер" hints:userHint="Номер документа, подтверждающего факт внесения сведений о ЮЛ в ЕГРЮЛ"/>
						<xs:element name="DocIssuedBy" type="ns1:string-200" hints:rus="Кем выдан" hints:userHint="Наименование органа, выдавшего документ"/>
						<xs:element name="DocIssuedDate" type="xs:date" hints:rus="Когда выдан" hints:dateRestriction="past" hints:userHint="Дата должна быть не более текущей"/>
						<xs:element name="RegAddress" type="ns1:OptionalIndexAddress-Type" hints:rus="Адрес места нахождения органа, осуществившего государственную регистрацию"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LicenseInfoType" hints:rus="Тип: информация о лицензии">
		<xs:sequence>
			<xs:element name="LicenseNumber" type="ns1:string-50" hints:rus="Номер лицензии" hints:userHint="Номер лицензии на осуществление фармацевтической деятельности. Пример: 00-11-2-001151"/>
			<xs:element name="LicenseDate" type="xs:date" hints:rus="Дата выдачи лицензии" hints:dateRestriction="past" hints:userHint="Дата должна быть не более текущей"/>
			<xs:element name="LicenseOrg" type="ns1:string-200" hints:rus="Наименование лицензирующего органа" hints:userHint="Пример: Росздравнадзор"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DocDataType" hints:rus="Данные документа, подтверждающего факт внесения соответствующих изменений в единый государственный реестр юридических лиц">
		<xs:sequence>
			<xs:element name="DocIssuedBy" type="ns1:string-200" hints:rus="Орган, выдавший документ" hints:userHint="Наименование органа, выдавшего документ"/>
			<xs:element name="DocIssuedDate" type="xs:date" hints:rus="Дата" hints:dateRestriction="past" hints:userHint="Дата должна быть не более текущей"/>
			<xs:element name="Series" type="ns1:string-10" hints:rus="Серия" hints:userHint="Серия документа, подтверждающего факт внесения изменений в ЕГРЮЛ"/>
			<xs:element name="Number" type="ns1:string-10" hints:rus="Номер" hints:userHint="Номер документа, подтверждающего факт внесения изменений в ЕГРЮЛ"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
