MockMetrics/test/data/daemon/GU/GU/GU.Enisey/GU.Enisey.BL/Converters/MZ/Licensing/Xsd/LicensingMedActivity-1.6.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:krsk="urn://x-artefacts-it-ru/dob/state-services/krsk/LicensingMedActivity/1.6" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:altova="http://www.altova.com/xml-schema-extensions" xmlns:hints="urn://x-artefacts-it-ru/dob/xml-editor/rendering-hints/1.3" xmlns:ns2="urn://x-artefacts-it-ru/dob/state-services/commons/1.4" xmlns:ns5="http://smev.gosuslugi.ru/request/rev111111" targetNamespace="urn://x-artefacts-it-ru/dob/state-services/krsk/LicensingMedActivity/1.6" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="urn://x-artefacts-it-ru/dob/state-services/commons/1.4" schemaLocation="state-services-commons-1.4.xsd"/>
	<xs:import namespace="http://smev.gosuslugi.ru/request/rev111111" schemaLocation="smev-attachments-2.2.4.xsd"/>
	<xs:element name="LicensingMedActivity" hints:rus="Лицензирование медицинской деятельности">
		<xs:complexType>
			<xs:choice hints:showInChoiceScreen="true" hints:rus="Выберите вариант оказания услуги">
				<xs:element name="NewLicense" hints:rus="Получение лицензии на осуществление медицинской деятельности" hints:roleName="subservice">
					<xs:complexType>
						<xs:sequence>
							<xs:choice hints:showInChoiceScreen="true" hints:rus="Выберите правовой статус заявителя">
								<xs:element name="NewLicenseUL" hints:rus="Юридические лицо" hints:roleName="applicant-type">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="OrgInfo" type="krsk:OrgInfoType" hints:rus="Информация о заявителе" hints:injectionType="injectAndGetBack"/>
											<xs:element name="WorksInfo" type="krsk:WorksInfoType" maxOccurs="unbounded" hints:rus="Выполняемые работы, оказываемые услуги, подлежащие лицензированию"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="NewLicenseIP" hints:rus="Инндивидуальный предприниматель" hints:roleName="applicant-type">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="IPInfo" type="krsk:IPInfoType" hints:rus="Информация о заявителе" hints:injectionType="injectAndGetBack"/>
											<xs:element name="WorksInfo" type="krsk:WorksInfoType" maxOccurs="unbounded" hints:rus="Выполняемые работы, оказываемые услуги, подлежащие лицензированию"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:choice>
							<xs:element name="DocAttach" type="ns5:AppliedDocumentsType" minOccurs="0" hints:rus="Сведения о предоставляемых документах" hints:widgetType="deleteProtected"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ReregistrationLicense" hints:rus="Переоформление лицензии на осуществление медицинской деятельности" hints:roleName="subservice">
					<xs:complexType>
						<xs:sequence>
							<xs:choice hints:showInChoiceScreen="true" hints:rus="Выберите правовой статус заявителя">
								<xs:element name="ReregistrationLicenseUL" hints:rus="Юридическое лицо" hints:roleName="applicant-type">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="OrgInfo" type="krsk:OrgInfoType" hints:injectionType="injectAndGetBack" hints:rus="Информация о лицензиате, его правопреемнике либо об ином предусмотренном федеральным законом лице"/>
											<xs:element name="LicenseInfo" type="krsk:LicenseInfoType" hints:rus="Информация о переоформляемой лицензии на осуществление медицинской деятельности"/>
											<xs:element name="Base" maxOccurs="unbounded" hints:rus="Основание для переоформления лицензии (Указывается информация, актуальная до изменения соответствующих сведений)">
												<xs:complexType>
													<xs:choice hints:rus="Выберите основание для переоформления лицензии">
														<xs:element name="Reorganization" hints:rus="Реорганизация юридического лица в форме преобразования">
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="FullName" type="ns2:string-200" hints:rus="Полное наименование юридического лица" hints:userHint="Полное наименование юридического лица. Пример: Общество с ограниченной ответственностью «20 век фокс»"/>
																	<xs:element name="LawForm" type="ns2:string-200" hints:rus="Организационно-правовая форма юридического лица" hints:userHint="Пример: Общество с ограниченной ответственностью"/>
																	<xs:element name="ShortName" type="ns2:string-200" minOccurs="0" hints:rus="Сокращенное наименование юридического лица  (в случае, если имеется)" hints:userHint="Пример: 20 век фокс"/>
																	<xs:element name="FirmName" type="ns2:string-200" minOccurs="0" hints:rus="Фирменное наименование юридического лица (в случае, если имеется)" hints:userHint="Пример: XX century FOX"/>
																	<xs:element name="DocData" type="krsk:DocDataType" hints:rus="Данные документа, подтверждающего факт внесения соответствующих изменений в единый государственный реестр юридических лиц"/>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
														<xs:element name="Rename" hints:rus="Изменение наименования юридического лица">
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="FullName" type="ns2:string-200" hints:rus="Полное наименование юридического лица" hints:userHint="Полное наименование юридического лица. Пример: Общество с ограниченной ответственностью «20 век фокс»"/>
																	<xs:element name="LawForm" type="ns2:string-200" hints:rus="Организационно-правовая форма юридического лица" hints:userHint="Пример: Общество с ограниченной ответственностью"/>
																	<xs:element name="ShortName" type="ns2:string-200" minOccurs="0" hints:rus="Сокращенное наименование юридического лица (в случае, если имеется)" hints:userHint="Пример: 20 век фокс"/>
																	<xs:element name="FirmName" type="ns2:string-200" minOccurs="0" hints:rus="Фирменное наименование юридического лица (в случае, если имеется)" hints:userHint="Пример: XX century FOX"/>
																	<xs:element name="DocData" type="krsk:DocDataType" hints:rus="Данные документа, подтверждающего факт внесения соответствующих изменений в единый государственный реестр юридических лиц"/>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
														<xs:element name="ChangeAddress" hints:rus="Изменение адреса места нахождения юридического лица">
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="NewAddress" type="ns2:OptionalIndexAddress-Type" hints:rus="Адрес места нахождения юридического лица (указывается информация, актуальная до изменения соответствующих сведений)"/>
																	<xs:element name="DocData" type="krsk:DocDataType" hints:rus="Данные документа, подтверждающего факт внесения соответствующих изменений в единый государственный реестр юридических лиц"/>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
														<xs:element name="AnotherAddress" hints:rus="Осуществление лицензируемого вида деятельности по адресу, не указанному в лицензии">
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="WorksInfo" maxOccurs="unbounded" hints:rus="Информация о новых адресах и видах деятельности">
																		<xs:complexType>
																			<xs:complexContent>
																				<xs:extension base="krsk:WorksInfoType"/>
																			</xs:complexContent>
																		</xs:complexType>
																	</xs:element>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
														<xs:element name="StopActivityAddress" hints:rus="Прекращение лицензируемого вида деятельности по одному или нескольким адресам">
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="StopInfo" maxOccurs="unbounded" hints:rus="Информация о прекращении деятельности">
																		<xs:complexType>
																			<xs:sequence>
																				<xs:element name="StopAddress" type="ns2:OptionalIndexAddress-Type" hints:rus="Адрес, по которому прекращена деятельность"/>
																				<xs:element name="StopDate" type="xs:date" hints:rus="Дата фактического прекращения деятельности" hints:dateRestriction="past" hints:userHint="Дата должна быть не более текущей"/>
																			</xs:sequence>
																		</xs:complexType>
																	</xs:element>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
														<xs:element name="Merge" hints:rus="Реорганизация юридических лиц в форме слияния">
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="LegalPersonMerge" maxOccurs="unbounded" hints:rus="Юридическое лицо">
																		<xs:complexType>
																			<xs:sequence>
																				<xs:element name="FullName" type="ns2:string-200" hints:rus="Полное наименование реорганизованного юридического лица" hints:userHint="Полное наименование юридического лица. Пример: Общество с ограниченной ответственностью «20 век фокс»"/>
																				<xs:element name="LawForm" type="ns2:string-200" hints:rus="Организационно-правовая форма реорганизованного юридического лица" hints:userHint="Пример: Общество с ограниченной ответственностью"/>
																				<xs:element name="OGRN" type="ns2:OGRN-Type" hints:rus="Государственный регистрационный номер записи о создании юридического лица"/>
																				<xs:element name="INN" type="ns2:LegalPersonINN-Type" hints:rus="ИНН юридического лица"/>
																				<xs:element name="LicenseInfo" type="krsk:LicenseInfoType" hints:rus="Лицензия на осуществление медицинской деятельности (за исключением указанной деятельности, осуществляемой медицинскими организациями и другими организациями, входящими в частную систему здравоохранения, на территории инновационного центра «Сколково»)"/>
																			</xs:sequence>
																		</xs:complexType>
																	</xs:element>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
														<xs:element name="AnotherWorks" hints:rus="Выполнение работ, оказание услуг, не указанных в лицензии">
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="WorksInfo" maxOccurs="unbounded" hints:rus="Информация о новых работах, услугах, ранее не указанных в лицензии">
																		<xs:complexType>
																			<xs:complexContent>
																				<xs:extension base="krsk:WorksInfoType"/>
																			</xs:complexContent>
																		</xs:complexType>
																	</xs:element>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
														<xs:element name="StopWorks" hints:rus="Прекращение выполнения работ, оказания услуг">
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="StopWorksInfo" maxOccurs="unbounded" hints:rus="Информация о работах, услугах, по которым деятельность прекращена">
																		<xs:complexType>
																			<xs:sequence>
																				<xs:element name="ActivityAddress" type="ns2:OptionalIndexAddress-Type" hints:rus="Адрес места осуществления лицензируемого вида деятельности"/>
																				<xs:element name="Works" type="ns2:string-200" hints:rus="Выполняемые работы, оказываемые услуги, по которым деятельность прекращена" hints:userHint="Наименование работ, услуг. Пример: Лабораторные исследования"/>
																			</xs:sequence>
																		</xs:complexType>
																	</xs:element>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
													</xs:choice>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="ReregistrationLicenseIP" hints:rus="Индивидуальный предприниматель" hints:roleName="applicant-type">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="IPInfo" type="krsk:IPInfoType" hints:injectionType="injectAndGetBack" hints:rus="Информация о лицензиате, его правопреемнике либо об ином предусмотренном федеральным законом лице"/>
											<xs:element name="LicenseInfo" type="krsk:LicenseInfoType" hints:rus="Информация о переоформляемой лицензии на осуществление медицинской деятельности"/>
											<xs:element name="Base" maxOccurs="unbounded" hints:rus="Основание для переоформления лицензии (Указывается информация, актуальная до изменения соответствующих сведений)">
												<xs:complexType>
													<xs:choice hints:showInChoiceScreen="true" hints:rus="Выберите основание для переоформления лицензии">
														<xs:element name="Rename" hints:rus="Изменение имени, фамилии и (в случае, если имеется) отчества индивидуального предпринимателя">
															<xs:complexType>
																<xs:sequence>
																	<xs:group ref="ns2:PhysicalPersonQualifiedName-ModelGroup"/>
																	<xs:element name="DocData" type="krsk:DocDataType" hints:rus="Данные документа, подтверждающего факт внесения соответствующих изменений в единый государственный реестр индивидуальных предпринимателей"/>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
														<xs:element name="ChangeAddress" hints:rus="Изменение места жительства индивидуального предпринимателя">
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="NewAddress" type="ns2:OptionalIndexAddress-Type" hints:rus="Адрес места жительства индивидуального предпринимателя (указывается информация, актуальная до изменения соответствующих сведений)"/>
																	<xs:element name="Document" type="ns2:Document-Type" hints:rus="Реквизиты документа, удостоверяющего личность индивидуального предпринимателя"/>
																	<xs:element name="DocData" type="krsk:DocDataType" hints:rus="Данные документа, подтверждающего факт внесения соответствующих изменений в единый государственный реестр индивидуальных предпринимателей"/>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
														<xs:element name="ChangeDocument" hints:rus="Изменение реквизитов документа, удостоверяющего личность индивидуального предпринимателя">
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="NewAddress" type="ns2:OptionalIndexAddress-Type" hints:rus="Адрес места жительства индивидуального предпринимателя"/>
																	<xs:element name="Document" type="ns2:Document-Type" hints:rus="Реквизиты документа, удостоверяющего личность индивидуального предпринимателя (указывается информация, актуальная до изменения соответствующих сведений)"/>
																	<xs:element name="DocData" type="krsk:DocDataType" hints:rus="Данные документа, подтверждающего факт внесения соответствующих изменений в единый государственный реестр индивидуальных предпринимателей"/>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
														<xs:element name="AnotherAddress" hints:rus="Осуществление лицензируемого вида деятельности по адресу, не указанному в лицензии">
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="WorksInfo" maxOccurs="unbounded" hints:rus="Информация о новых адресах, ранее не указанных в лицензии">
																		<xs:complexType>
																			<xs:complexContent>
																				<xs:extension base="krsk:WorksInfoType"/>
																			</xs:complexContent>
																		</xs:complexType>
																	</xs:element>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
														<xs:element name="StopActivityAddress" hints:rus="Прекращение лицензируемого вида деятельности по одному или нескольким адресам">
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="StopInfo" maxOccurs="unbounded" hints:rus="Информация о прекращении деятельности">
																		<xs:complexType>
																			<xs:sequence>
																				<xs:element name="StopAddress" type="ns2:OptionalIndexAddress-Type" hints:rus="Адрес, по которому прекращена деятельность"/>
																				<xs:element name="StopDate" type="xs:date" hints:rus="Дата фактического прекращения деятельности" hints:dateRestriction="past" hints:userHint="Дата должна быть не более текущей"/>
																			</xs:sequence>
																		</xs:complexType>
																	</xs:element>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
														<xs:element name="AnotherWorks" hints:rus="Выполнение работ, оказание услуг, не указанных в лицензии">
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="WorksInfo" type="krsk:WorksInfoType" maxOccurs="unbounded" hints:rus="Информация о новых работах, услугах, ранее не указанных в лицензии"/>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
														<xs:element name="StopWorks" hints:rus="Прекращение выполнения работ, оказания услуг">
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="StopWorksInfo" maxOccurs="unbounded" hints:rus="Информация о работах, услугах, по которым деятельность прекращена">
																		<xs:complexType>
																			<xs:sequence>
																				<xs:element name="ActivityAddress" type="ns2:OptionalIndexAddress-Type" hints:rus="Адрес места осуществления лицензируемого вида деятельности"/>
																				<xs:element name="Works" type="ns2:string-200" hints:rus="Выполняемые работы, оказываемые услуги, по которым деятельность прекращена" hints:userHint="Наименование работ, услуг. Пример: Лабораторные исследования"/>
																			</xs:sequence>
																		</xs:complexType>
																	</xs:element>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
													</xs:choice>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:choice>
							<xs:element name="DocAttach" type="ns5:AppliedDocumentsType" minOccurs="0" hints:rus="Сведения о предоставляемых документах" hints:widgetType="deleteProtected"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="DublicatLicense" hints:rus="Получение дубликата лицензии на осуществление медицинской деятельности" hints:roleName="subservice">
					<xs:complexType>
						<xs:sequence>
							<xs:choice hints:showInChoiceScreen="true" hints:rus="Выберите правовой статус заявителя">
								<xs:element name="DublicatLicenseUL" hints:rus="Юридическое лицо" hints:roleName="applicant-type">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Reason" hints:rus="Причина получения дубликата">
												<xs:simpleType>
													<xs:restriction base="ns2:string-200">
														<xs:enumeration value="Утрата лицензии"/>
														<xs:enumeration value="Порча лицензии"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
											<xs:element name="ShortOrgInfo" type="krsk:ShortOrgInfoType" hints:injectionType="injectAndGetBack" hints:rus="Информация о заявителе"/>
											<xs:element name="LicenseInfo" type="krsk:LicenseInfoType" hints:rus="Информация о дублируемой лицензии"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="DublicatLicenseIP" hints:rus="Индивидуальный предприниматель" hints:roleName="applicant-type">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Reason" hints:rus="Причина получения дубликата">
												<xs:simpleType>
													<xs:restriction base="ns2:string-200">
														<xs:enumeration value="Утрата лицензии"/>
														<xs:enumeration value="Порча лицензии"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
											<xs:element name="ShortIPInfo" type="krsk:ShortIPInfoType" hints:injectionType="injectAndGetBack" hints:rus="Информация о заявителе"/>
											<xs:element name="LicenseInfo" type="krsk:LicenseInfoType" hints:rus="Информация о дублируемой лицензии"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:choice>
							<xs:element name="DocAttach" type="ns5:AppliedDocumentsType" minOccurs="0" hints:rus="Сведения о предоставляемых документах" hints:widgetType="deleteProtected"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="CopyLicense" hints:rus="Получение копии лицензии на осуществление медицинской деятельности" hints:roleName="subservice">
					<xs:complexType>
						<xs:sequence>
							<xs:choice hints:showInChoiceScreen="true" hints:rus="Выберите правовой статус заявителя">
								<xs:element name="CopyLicenseUL" hints:rus="Юридическое лицо" hints:roleName="applicant-type">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="ShortOrgInfo" type="krsk:ShortOrgInfoType" hints:injectionType="injectAndGetBack" hints:rus="Информация о заявителе"/>
											<xs:element name="LicenseInfo" type="krsk:LicenseInfoType" hints:rus="Информация о копируемой лицензии"/>
											<xs:element name="Quantity" hints:rus="Количество копий" hints:userHint="Введите число. Пример: 50">
												<xs:annotation>
													<xs:documentation/>
												</xs:annotation>
												<xs:simpleType>
													<xs:restriction base="xs:decimal">
														<xs:totalDigits value="5"/>
														<xs:fractionDigits value="0"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="CopyLicenseIP" hints:rus="Индивидуальный предприниматель" hints:roleName="applicant-type">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="ShortIPInfo" type="krsk:ShortIPInfoType" hints:injectionType="injectAndGetBack" hints:rus="Информация о заявителе"/>
											<xs:element name="LicenseInfo" type="krsk:LicenseInfoType" hints:rus="Информация о копируемой лицензии"/>
											<xs:element name="Quantity" hints:rus="Количество копий" hints:userHint="Введите число. Пример: 50">
												<xs:simpleType>
													<xs:restriction base="xs:decimal">
														<xs:totalDigits value="5"/>
														<xs:fractionDigits value="0"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:choice>
							<xs:element name="DocAttach" type="ns5:AppliedDocumentsType" minOccurs="0" hints:rus="Сведения о предоставляемых документах" hints:widgetType="deleteProtected"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="StopLicense" hints:rus="Прекращение лицензируемого вида деятельности" hints:roleName="subservice">
					<xs:complexType>
						<xs:sequence>
							<xs:choice hints:showInChoiceScreen="true" hints:rus="Выберите правовой статус заявителя">
								<xs:element name="StopLicenseUL" hints:rus="Юридическое лицо" hints:roleName="applicant-type">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="OrgInfo" type="krsk:OrgInfoType" hints:rus="Информация о лицензиате, его правопреемнике" hints:injectionType="injectAndGetBack"/>
											<xs:element name="LicenseInfo" type="krsk:LicenseInfoType" hints:rus="Информация о лицензии, действие которой прекращается"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="StopLicenseIP" hints:rus="Индивидуальный предприниматель" hints:roleName="applicant-type">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="IPInfo" type="krsk:IPInfoType" hints:rus="Информация о лицензиате, его правопреемнике" hints:injectionType="injectAndGetBack"/>
											<xs:element name="LicenseInfo" type="krsk:LicenseInfoType" hints:rus="Информация о лицензии, действие которой прекращается"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:choice>
							<xs:element name="DocAttach" type="ns5:AppliedDocumentsType" minOccurs="0" hints:rus="Сведения о предоставляемых документах" hints:widgetType="deleteProtected"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="WorksInfoType" hints:rus="Тип: Информация о работах, услугах">
		<xs:sequence>
			<xs:element name="ActivityAddress" type="ns2:OptionalIndexAddress-Type" hints:rus="Адрес места осуществления лицензируемого вида деятельности"/>
			<xs:element name="Works" type="ns2:string-200" hints:rus="Выполняемые работы, оказываемые услуги при осуществлении лицензируемого вида деятельности" hints:userHint="Наименование работ, услуг. Пример: Лабораторные исследования"/>
			<xs:element name="DocRequisites" hints:rus="Реквизиты документов, которые свидетельствуют о соответствии соискателя лицензии лицензионным требованиям">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="OrgName" type="ns2:string-200" hints:rus="Наименование органа (организации) выдавшего документ" hints:userHint="Пример: Росздравнадзор"/>
						<xs:element name="Date" type="xs:date" hints:rus="Дата выдачи" hints:dateRestriction="past" hints:userHint="Дата должна быть не более текущей"/>
						<xs:element name="Number" type="ns2:string-20" hints:rus="Номер документа" hints:userHint="Номер документа, подстверждающего соответствие соискателя лицензии лицензионным требованиям"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IPInfoType" hints:rus="Тип: Информация об индивидуальном предпринимателе">
		<xs:sequence>
			<xs:group ref="ns2:ApplicantPhysicalPersonQualifiedName-ModelGroup"/>
			<xs:element name="IPAddress" type="ns2:OptionalIndexAddress-Type" hints:rus="Адрес места жительства"/>
			<xs:element name="Document" type="ns2:Document-Type" hints:rus="Данные документа, удостоверяющего личность индивидуального предпринимателя"/>
			<xs:element name="OGRN" type="krsk:OGRNIPType" hints:rus="Государственный регистрационный номер записи о государственной регистрации индивидуального предпринимателя"/>
			<xs:element name="INN" type="krsk:INNIPType" hints:rus="ИНН индивидуального предпринимателя"/>
			<xs:element name="Phone" type="ns2:PhoneNumberRF-Type" hints:rus="Номер телефона (факса)"/>
			<xs:element name="Email" type="ns2:Email-Type" minOccurs="0" hints:rus="Адрес электронной почты"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ShortIPInfoType" hints:rus="Тип: Сокращенная информация об индивидуальном предпринимателе">
		<xs:sequence>
			<xs:group ref="ns2:ApplicantPhysicalPersonQualifiedName-ModelGroup"/>
			<xs:element name="IPAddress" type="ns2:OptionalIndexAddress-Type" hints:rus="Адрес места жительства"/>
			<xs:element name="OGRN" type="ns2:OGRNIP-Type" hints:rus="Государственный регистрационный номер записи о создании юридического лица"/>
			<xs:element name="INN" type="ns2:PhysicalPersonINN-Type" hints:rus="ИНН юридического лица"/>
			<xs:element name="Phone" type="ns2:PhoneNumberRF-Type" hints:rus="Номер телефона (факса)"/>
			<xs:element name="Email" type="ns2:Email-Type" minOccurs="0" hints:rus="Адрес электронной почты"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrgInfoType" hints:rus="Тип: Информация об организации">
		<xs:sequence>
			<xs:element name="FullName" type="ns2:string-200" hints:businessMeaning="userLegalPersonName" hints:rus="Полное наименование юридического лица" hints:userHint="Полное наименование юридического лица. Пример: Общество с ограниченной ответственностью «20 век фокс»"/>
			<xs:element name="LawForm" type="ns2:string-200" hints:rus="Организационно-правовая форма" hints:userHint="Пример: Общество с ограниченной ответственностью"/>
			<xs:element name="ShortName" type="ns2:string-100" minOccurs="0" hints:rus="Сокращенное наименование юридического лица (в случае, если имеется)" hints:userHint="Пример: 20 век фокс"/>
			<xs:element name="FirmName" type="ns2:string-100" minOccurs="0" hints:rus="Фирменное наименование юридического лица (в случае, если имеется)" hints:userHint="Пример: XX century FOX"/>
			<xs:element name="OrgAddress" type="ns2:OptionalIndexAddress-Type" hints:rus="Адрес места нахождения юридического лица"/>
			<xs:element name="OGRN" type="krsk:OGRNULType" hints:rus="Государственный регистрационный номер записи о создании юридического лица"/>
			<xs:element name="INN" type="krsk:INNULType" hints:rus="ИНН юридического лица"/>
			<xs:element name="Phone" type="ns2:PhoneNumberRF-Type" hints:rus="Номер телефона (факса)"/>
			<xs:element name="Email" type="ns2:Email-Type" minOccurs="0" hints:rus="Адрес электронной почты"/>
			<xs:element name="Director" type="krsk:DirectorType" hints:rus="Информация о руководителе или представителе юридического лица"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ShortOrgInfoType" hints:rus="Тип: Сокращенная информация об организации">
		<xs:sequence>
			<xs:element name="FullName" type="ns2:string-200" hints:rus="Полное наименование юридического лица" hints:businessMeaning="userLegalPersonName" hints:userHint="Полное наименование юридического лица. Пример: Общество с ограниченной ответственностью «20 век фокс»"/>
			<xs:element name="LawForm" type="ns2:string-200" hints:rus="Организационно-правовая форма" hints:userHint="Пример: Общество с ограниченной ответственностью"/>
			<xs:element name="OrgAddress" type="ns2:OptionalIndexAddress-Type" hints:rus="Адрес места нахождения юридического лица"/>
			<xs:element name="OGRN" type="ns2:OGRN-Type" hints:rus="Государственный регистрационный номер записи о создании юридического лица"/>
			<xs:element name="INN" type="ns2:LegalPersonINN-Type" hints:rus="ИНН юридического лица"/>
			<xs:element name="Phone" type="ns2:PhoneNumberRF-Type" hints:rus="Номер телефона (факса)"/>
			<xs:element name="Email" type="ns2:Email-Type" minOccurs="0" hints:rus="Адрес электронной почты"/>
			<xs:element name="Director" type="krsk:DirectorType" hints:rus="Информация о руководителе или представителе юридического лица"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="INNULType" hints:rus="Тип: ИНН ЮЛ">
		<xs:sequence>
			<xs:element name="INN" type="ns2:LegalPersonINN-Type" hints:rus="ИНН" hints:businessMeaning="userLegalPersonINN"/>
			<xs:element name="TaxAuthorityData" hints:rus="Cвидетельство о постановке на учет российской организации в налоговом органе на территории РФ">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Series" type="ns2:string-10" hints:rus="Серия" hints:userHint="Серия свидететльства о постановке на учет в налоговом органе"/>
						<xs:element name="Number" type="ns2:string-10" hints:rus="Номер" hints:userHint="Номер свидететльства о постановке на учет в налоговом органе"/>
						<xs:element name="Date" type="xs:date" hints:rus="Дата постановки на учет" hints:dateRestriction="past" hints:userHint="Дата должна быть не более текущей"/>
						<xs:element name="Code" type="ns2:FourDigitString-Type" hints:rus="Код налогового органа"/>
						<xs:element name="IssuerName" type="ns2:string-200" hints:rus="Наименование органа, выдавшего документ" hints:userHint="Пример: Управление Федеральной налоговой службы по Красноярскому краю"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DocDataType" hints:rus="Данные документа, подтверждающего факт внесения соответствующих изменений в единый государственный реестр юридических лиц">
		<xs:sequence>
			<xs:element name="DocIssuedBy" type="ns2:string-200" hints:rus="Орган, выдавший документ" hints:userHint="Наименование органа, выдавшего документ"/>
			<xs:element name="DocIssuedDate" type="xs:date" hints:rus="Дата" hints:dateRestriction="past" hints:userHint="Дата должна быть не более текущей"/>
			<xs:element name="Series" type="ns2:string-10" hints:rus="Серия" hints:userHint="Серия документа, подтверждающего факт внесения изменений в ЕГРЮЛ"/>
			<xs:element name="Number" type="ns2:string-10" hints:rus="Номер" hints:userHint="Номер документа, подтверждающего факт внесения изменений в ЕГРЮЛ"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="INNIPType" hints:rus="Тип: ИНН ИП">
		<xs:sequence>
			<xs:element name="INN" type="ns2:PhysicalPersonINN-Type" hints:rus="ИНН" hints:businessMeaning="userPhysicalPersonINN"/>
			<xs:element name="TaxAuthorityData" hints:rus="Cвидетельство о постановке на учет индивидуального предпринимателя в налоговом органе на территории РФ">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Series" type="ns2:string-10" hints:rus="Серия" hints:userHint="Серия свидететльства о постановке на учет в налоговом органе"/>
						<xs:element name="Number" type="ns2:string-10" hints:rus="Номер" hints:userHint="Номер свидететльства о постановке на учет в налоговом органе"/>
						<xs:element name="Date" type="xs:date" hints:rus="Дата постановки на учет" hints:dateRestriction="past" hints:userHint="Дата должна быть не более текущей"/>
						<xs:element name="Code" type="ns2:FourDigitString-Type" hints:rus="Код налогового органа"/>
						<xs:element name="IssuerName" type="ns2:string-200" hints:rus="Наименование органа, выдавшего документ" hints:userHint="Пример: Управление Федеральной налоговой службы по Красноярскому краю"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OGRNIPType" hints:rus="Тип: ОГРН ИП">
		<xs:sequence>
			<xs:element name="OGRNnumber" type="ns2:OGRNIP-Type" hints:rus="Основной государственный регистрационный номер"/>
			<xs:element name="EGRULData" maxOccurs="1" hints:rus="Данные  документа, подтверждающего факт внесения сведений об индивидуальном предпринимателе в Единый государственный реестр индивидуальных предпринимателей">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Series" type="ns2:string-10" hints:rus="Серия" hints:userHint="Серия документа, подтверждающего факт внесения сведений об ИП в ЕГРИП"/>
						<xs:element name="Number" type="ns2:string-10" hints:rus="Номер" hints:userHint="Номер документа, подтверждающего факт внесения сведений об ИП в ЕГРИП"/>
						<xs:element name="DocIssuedBy" type="ns2:string-200" hints:rus="Кем выдан" hints:userHint="Наименование органа, выдавшего документ"/>
						<xs:element name="DocIssuedDate" type="xs:date" hints:rus="Когда выдан" hints:dateRestriction="past" hints:userHint="Дата должна быть не более текущей"/>
						<xs:element name="RegAddress" type="ns2:OptionalIndexAddress-Type" hints:rus="Адрес места нахождения органа, осуществившего государственную регистрацию"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OGRNULType" hints:rus="Тип: ОГРН ЮЛ">
		<xs:sequence>
			<xs:element name="OGRNnumber" type="ns2:OGRN-Type" hints:rus="Основной государственный регистрационный номер" hints:businessMeaning="userLegalPersonOGRN"/>
			<xs:element name="EGRULData" maxOccurs="1" hints:rus="Данные  документа, подтверждающего факт внесения сведений о юридическом лице в Единый государственный реестр юридических лиц">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Series" type="ns2:string-10" hints:rus="Серия" hints:userHint="Серия документа, подтверждающего факт внесения сведений о ЮЛ в ЕГРЮЛ"/>
						<xs:element name="Number" type="ns2:string-10" hints:rus="Номер" hints:userHint="Номер документа, подтверждающего факт внесения сведений о ЮЛ в ЕГРЮЛ"/>
						<xs:element name="DocIssuedBy" type="ns2:string-200" hints:rus="Кем выдан" hints:userHint="Наименование органа, выдавшего документ"/>
						<xs:element name="DocIssuedDate" type="xs:date" hints:rus="Когда выдан" hints:dateRestriction="past" hints:userHint="Дата должна быть не более текущей"/>
						<xs:element name="RegAddress" type="ns2:OptionalIndexAddress-Type" hints:rus="Адрес места нахождения органа, осуществившего государственную регистрацию"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DirectorType" hints:rus="Тип: Руководитель">
		<xs:sequence>
			<xs:element name="FamilyName" type="ns2:RussianWord-100-Type" hints:businessMeaning="userLegalPersonCEOFamilyName" hints:rus="Фамилия" hints:userHint="Только русские буквы, до 100 символов"/>
			<xs:element name="FirstName" type="ns2:RussianWord-100-Type" hints:businessMeaning="userLegalPersonCEOFirstName" hints:rus="Имя" hints:userHint="Только русские буквы, до 100 символов"/>
			<xs:element name="Patronymic" type="ns2:RussianWord-100-Type" minOccurs="0" hints:businessMeaning="userLegalPersonCEOPatronymic" hints:rus="Отчество" hints:userHint="Только русские буквы, до 100 символов"/>
			<xs:element name="Post" type="ns2:string-200" hints:rus="Должность" hints:userHint="Пример: Директор"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LicenseInfoType" hints:rus="Тип: информация о лицензии">
		<xs:sequence>
			<xs:element name="LicenseNumber" type="ns2:string-50" hints:rus="Номер лицензии" hints:userHint="Номер лицензии на осуществление медицинской деятельности. Пример: 00-11-2-001151"/>
			<xs:element name="LicenseDate" type="xs:date" hints:rus="Дата выдачи лицензии" hints:dateRestriction="past" hints:userHint="Дата должна быть не более текущей"/>
			<xs:element name="LicenseOrg" type="ns2:string-200" hints:rus="Наименование лицензирующего органа" hints:userHint="Пример: Росздравнадзор"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
