MockMetrics/test/data/daemon/GU/GU/GU.Enisey/GU.Enisey.BL/Converters/MZ/Licensing/Xsd/LicensingDrugActivity-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:krsk="urn://x-artefacts-it-ru/dob/state-services/krsk/LicensingDrugActivity/1.0" xmlns:commons="urn://x-artefacts-it-ru/dob/state-services/commons/1.1" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:altova="http://www.altova.com/xml-schema-extensions" xmlns:hints="urn://x-artefacts-it-ru/dob/xml-editor/rendering-hints/1.1" xmlns:attach="http://smev.gosuslugi.ru/request/rev111111" targetNamespace="urn://x-artefacts-it-ru/dob/state-services/krsk/LicensingDrugActivity/1.0" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="urn://x-artefacts-it-ru/dob/state-services/commons/1.1" schemaLocation="state-services-commons-1.1.xsd"/>
	<xs:import namespace="http://smev.gosuslugi.ru/request/rev111111" schemaLocation="smev-attachments-2.2.4.xsd"/>
	<xs:element name="LicensingDrugActivity">
		<xs:annotation>
			<xs:documentation>Лицензирование деятельности, связанной с оборотом нароктических средств</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice hints:rus="Выберите вариант оказания услуги" hints:showInChoiceScreen="true">
				<xs:element name="NewLicense" type="krsk:OrgInfoType">
					<xs:annotation>
						<xs:documentation>Получение лицензии на осуществление деятельности по обороту наркотических средств</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Reregistration">
					<xs:annotation>
						<xs:documentation>Переоформление лицензии на осуществление деятельности по обороту наркотических средств</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="OrgInfo" type="krsk:OrgInfoType">
								<xs:annotation>
									<xs:documentation>Информация о лицензиате, его правопреемнике, либо об ином предусмотренном федеральным законом лице</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="LicenseInfo" type="krsk:LicenseInfoType">
								<xs:annotation>
									<xs:documentation>Информация о переоформляемой лицензии на осуществление деятельности по обороту наркотических средств</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="Base" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Основание для переоформления лицензии</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:choice hints:rus="Выберите основание для переоформления лицензии" hints:showInChoiceScreen="true">
										<xs:element name="Reorganization">
											<xs:annotation>
												<xs:documentation>Реорганизация юридического лица в форме преобразования</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="FullName">
														<xs:annotation>
															<xs:documentation>Полное наименование юридического лица</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="255"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="LawForm">
														<xs:annotation>
															<xs:documentation>Организационно-правовая форма юридического лица</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="255"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="ShortName" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Сокращенное наименование юридического лица  (в случае, если имеется)</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="100"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="FirmName" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Фирменное наименование юридического лица (в случае, если имеется)</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="255"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="OGRN" hints:rus="Государственный регистрационный номер записи о создании юридического лица (ОГРН)">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:pattern value="[1;2;5]{1}\d{12}"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="DocData" type="krsk:EGRULDataType">
														<xs:annotation>
															<xs:documentation>Данные документа, подтверждающего факт внесения соответствующих изменений в единый государственный реестр юридических лиц</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="INN" hints:rus="ИНН юридического лица">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{8}"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Rename">
											<xs:annotation>
												<xs:documentation>Изменение наименования юридического лица</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="FullName">
														<xs:annotation>
															<xs:documentation>Полное наименование юридического лица</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="255"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="LawForm">
														<xs:annotation>
															<xs:documentation>Организационно-правовая форма юридического лица</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="255"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="ShortName" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Сокращенное наименование юридического лица (в случае, если имеется)</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="255"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="FirmName" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Фирменное наименование юридического лица (в случае, если имеется)</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="255"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="OGRN" hints:rus="Государственный регистрационный номер записи о создании юридического лица (ОГРН)">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:pattern value="[1;2;5]{1}\d{12}"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="DocData" type="krsk:EGRULDataType">
														<xs:annotation>
															<xs:documentation>Данные документа, подтверждающего факт внесения соответствующих изменений в единый государственный реестр юридических лиц</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="INN" hints:rus="ИНН юридического лица">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{8}"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="ChangeOrgAddress">
											<xs:annotation>
												<xs:documentation>Изменение адреса места нахождения юридического лица</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="NewAddress" type="krsk:AddressType">
														<xs:annotation>
															<xs:documentation>Адрес места нахождения юридического лица</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="DocData" type="krsk:EGRULDataType">
														<xs:annotation>
															<xs:documentation>Данные документа, подтверждающего факт внесения соответствующих изменений в единый государственный реестр юридических лиц</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="AnotherAddress">
											<xs:annotation>
												<xs:documentation>Осуществление лицензируемого вида деятельности по адресу, не указанному в лицензии</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="WorksInfo" type="krsk:WorkInfoType" maxOccurs="unbounded">
														<xs:annotation>
															<xs:documentation>Информация о новых адресах и видах деятельности</xs:documentation>
														</xs:annotation>
													</xs:element>
													<!--													<xs:element name="Facilities">
														<xs:annotation>
															<xs:documentation>Наличие у лицензиата на праве собственности или на ином законном основании соответствующих установленным требованиям и необходимых для осуществления деятельности по обороту наркотических средств, психотропных веществ и их прекурсоров, культивированию наркосодержащих растений оборудования, помещений и земельных участков, права на которые зарегистрированы в Едином государственном реестре прав на недвижимое имущество и сделок с ним: привести перечень документов с указанием реквизитов</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="255"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Conclusion">
														<xs:annotation>
															<xs:documentation>Наличие заключения органа по контролю за оборотом наркотических средств и психотропных веществ, предусмотренного абзацем 3 пункта 3 статьи 10 Федерального закона «О наркотических средствах и психотропных веществах»: привести перечень документов с указанием реквизитов</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="255"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Sertificate">
														<xs:annotation>
															<xs:documentation>Наличие сертификата специалиста, подтверждающего соответствующую профессиональную подготовку руководителя подразделения юридического лица, расположенного по новому адресу, при осуществлении оборота наркотических средств и психотропных веществ, внесенных в списки I - III перечня: привести перечень документов с указанием реквизитов</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="255"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>-->
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="StopActivityAddress">
											<xs:annotation>
												<xs:documentation>Прекращение лицензируемого вида деятельности по одному или нескольким адресам</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="StopInfo" maxOccurs="unbounded">
														<xs:annotation>
															<xs:documentation>Информация о прекращении деятельности</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence>
																<xs:element name="StopAddress" type="krsk:AddressType">
																	<xs:annotation>
																		<xs:documentation>Адрес, по которому прекращена деятельность</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="StopDate" type="xs:date">
																	<xs:annotation>
																		<xs:documentation>Дата фактического прекращения деятельности</xs:documentation>
																	</xs:annotation>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Merge">
											<xs:annotation>
												<xs:documentation>Реорганизация юридических лиц в форме слияния</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="LegalEntity" maxOccurs="unbounded" hints:rus="Юридическое лицо">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="FullName">
																	<xs:annotation>
																		<xs:documentation>Полное наименование реорганизованного юридического лица</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="255"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="LawForm">
																	<xs:annotation>
																		<xs:documentation>Организационно-правовая форма реорганизованного юридического лица</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="255"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="OGRN">
																	<xs:annotation>
																		<xs:documentation>Государственный регистрационный номер записи о создании юридического лица (ОГРН)</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:decimal">
																			<xs:totalDigits value="13"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="DocData" type="krsk:EGRULDataType">
																	<xs:annotation>
																		<xs:documentation>Данные документа, подтверждающего факт внесения соответствующих изменений в единый государственный реестр юридических лиц</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="INN">
																	<xs:annotation>
																		<xs:documentation>ИНН</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:decimal">
																			<xs:totalDigits value="10"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="LicenseInfo" type="krsk:LicenseInfoType">
																	<xs:annotation>
																		<xs:documentation>Лицензия на осуществление деятельности по обороту наркотических средств, психотропных веществ и их прекурсоров, культивированию наркосодержащих растений</xs:documentation>
																	</xs:annotation>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="AnotherWorks">
											<xs:annotation>
												<xs:documentation>Выполнение работ, оказание услуг, не указанных в лицензии</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="WorkInfo" type="krsk:WorkInfoType" maxOccurs="unbounded" hints:rus="Адрес места осуществления лицензируемого вида деятельности"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="StopWorks">
											<xs:annotation>
												<xs:documentation>Прекращение выполнения работ, оказания услуг</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="WorkInfo" type="krsk:WorkInfoType" maxOccurs="unbounded" hints:rus="Адрес места прекращения лицензируемого вида деятельности"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="ChangeNameWork">
											<xs:annotation>
												<xs:documentation>Изменение наименования вида деятельности (в порядке, предусмотренном ч.4 ст.22 ФЗ «О лицензировании отдельных видов деятельности»)</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="ChangeWorksInfo" type="krsk:WorkInfoType" maxOccurs="unbounded">
														<xs:annotation>
															<xs:documentation>Информация о работах, услугах, наименования которых изменены</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="NewWorks">
											<xs:annotation>
												<xs:documentation>Появление работ, услуг, которые выполняются в составе конкретного вида деятельности (в порядке, предусмотренном ч.4 ст.22 ФЗ «О лицензировании отдельных видов деятельности»)</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="NewWorksInfo" type="krsk:WorkInfoType" maxOccurs="unbounded">
														<xs:annotation>
															<xs:documentation>Информация о работах, услугах, которые выполняются в составе конкретного вида деятельности</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:choice>
								</xs:complexType>
							</xs:element>
							<xs:element ref="attach:AppliedDocuments" minOccurs="0" hints:rus="Приложенные документы"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Dublicat">
					<xs:annotation>
						<xs:documentation>Получение дубликата лицензии на осуществление деятельности по обороту наркотических средств</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Reason">
								<xs:annotation>
									<xs:documentation>Причина получения дубликата</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="Утрата лицензии"/>
										<xs:enumeration value="Порча лицензии"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="OrgInfo" type="krsk:ShortOrgInfoType">
								<xs:annotation>
									<xs:documentation>Информация о юридическом лице</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="LicenseInfo" type="krsk:LicenseInfoType">
								<xs:annotation>
									<xs:documentation>Информация о дублируемой лицензии</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element ref="attach:AppliedDocuments" minOccurs="0" hints:rus="Приложенные документы"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Copy">
					<xs:annotation>
						<xs:documentation>Получение копии лицензии на осуществление деятельности по обороту наркотических средств</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="OrgInfo" type="krsk:ShortOrgInfoType">
								<xs:annotation>
									<xs:documentation>Информация о юридическом лице</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="LicenseInfo" type="krsk:LicenseInfoType">
								<xs:annotation>
									<xs:documentation>Информация о копируемой лицензии</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="Quantity">
								<xs:annotation>
									<xs:documentation>Количество копий</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:integer">
										<xs:minInclusive value="1"/>
										<xs:maxInclusive value="10000"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element ref="attach:AppliedDocuments" minOccurs="0" hints:rus="Приложенные документы"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="StopLicense">
					<xs:annotation>
						<xs:documentation>Прекращение лицензируемого вида деятельности</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="OrgInfo" type="krsk:ShortOrgInfoType">
								<xs:annotation>
									<xs:documentation>Информация о лицензиате, его правопреемнике</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="LicenseInfo" type="krsk:LicenseInfoType">
								<xs:annotation>
									<xs:documentation>Информация о лицензии, действие которой прекращается</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element ref="attach:AppliedDocuments" minOccurs="0" hints:rus="Приложенные документы"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="WorkInfoType">
		<xs:annotation>
			<xs:documentation>Тип: Информация о работах, услугах</xs:documentation>
		</xs:annotation>
		<xs:sequence maxOccurs="1">
			<xs:sequence>
				<xs:element name="PostIndex" minOccurs="0" hints:rus="Почтовый индекс">
					<xs:annotation>
						<xs:appinfo>
							<xs:exampleValues>
								<xs:example value="660001"/>
							</xs:exampleValues>
						</xs:appinfo>
						<xs:appinfo>
							<altova:exampleValues>
								<altova:example value="660001"/>
							</altova:exampleValues>
						</xs:appinfo>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="6"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="RegionRF" hints:rus="Субъект РФ">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="255"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="District" minOccurs="0" hints:rus="Район">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="255"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CityLocality" hints:rus="Город/Населенный пункт">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="255"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Street" hints:rus="Улица">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="255"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="House" hints:rus="Дом">
					<xs:annotation>
						<xs:appinfo>
							<altova:exampleValues>
								<altova:example value="56"/>
							</altova:exampleValues>
						</xs:appinfo>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="10"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Bulk" minOccurs="0" hints:rus="Корпус">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="10"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="bldg" minOccurs="0" hints:rus="Строение">
					<xs:annotation>
						<xs:appinfo>
							<altova:exampleValues>
								<altova:example value="3"/>
							</altova:exampleValues>
						</xs:appinfo>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="10"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Apartment" type="xs:string" hints:rus="Квартира/офис"/>
				<xs:element name="ApartmentDescription" hints:rus="Описание помещения, в котором непосредственно будет осуществляться деятельность" hints:userHint="Например: двухэтажное кирпичное здание. Комната № 23, расположенная на складе 1-го этажа хирургического отделения, согласно плана БТИ">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="400"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
			<xs:element name="Works" type="commons:TimelineUnawareClassifierValue-Type" maxOccurs="unbounded" hints:classifierName="DrugActivity" hints:rus="Выполняемые работы, оказываемые услуги"/>
			<xs:element name="ComplianceLicenseRequirement" type="krsk:LicenseRequirementsType" maxOccurs="unbounded" hints:rus="Документ, входящий в перечень, определяемый положением о лицензировании конкретного вида деятельности и свидетельствующий о соответствии соискателя лицензии лицензионным требованиям" hints:userHint="Документы, подтверждающие наличие у соискателя лицензии на праве собственности или на ином законном основании соответствующих установленным требованиям и необходимых для осуществления деятельности по обороту наркотических средств, психотропных веществ и их прекурсоров, культивированию наркосодержащих растений оборудования, помещений и земельных участков, права на которые зарегистрированы в Едином государственном реестре прав на недвижимое имущество и сделок с ним&lt;br&gt;&lt;br&gt;или&lt;br&gt;&lt;br&gt;Заключения органа по контролю за оборотом наркотических средств и психотропных веществ, предусмотренных абзацами третьим и пятым пункта 3 статьи 10 и абзацем третьим пункта 7 статьи 30 Федерального закона «О наркотических средствах и психотропных веществах»"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LicenseInfoType">
		<xs:annotation>
			<xs:documentation>Тип: информация о лицензии</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="LicenseNumber">
				<xs:annotation>
					<xs:documentation>Номер лицензии</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="LicenseDate" type="xs:date">
				<xs:annotation>
					<xs:documentation>Дата выдачи лицензии</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LicenseOrg">
				<xs:annotation>
					<xs:documentation>Наименование лицензирующего органа</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ShortOrgInfoType">
		<xs:annotation>
			<xs:documentation>Тип: Скоращенная информация об организации</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FullName">
				<xs:annotation>
					<xs:documentation>Полное наименование юридического лица</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="LawForm">
				<xs:annotation>
					<xs:documentation>Организационно-правовая форма</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="OrgAddress" type="krsk:AddressType">
				<xs:annotation>
					<xs:documentation>Адрес места нахождения юридического лица</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OGRN">
				<xs:annotation>
					<xs:documentation>Государственный регистрационный номер записи о создании юридического лица (ОГРН)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="13"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="INN">
				<xs:annotation>
					<xs:documentation>ИНН юридического лица</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Phone">
				<xs:annotation>
					<xs:documentation>Номер телефона (факса)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="15"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Email" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Адрес электронной почты</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Director" type="krsk:DirectorType">
				<xs:annotation>
					<xs:documentation>Информация о руководителе юридического лица</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrgInfoType">
		<xs:annotation>
			<xs:documentation>Тип: Информация об организации</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FullName" hints:rus="Полное наименование юридического лица">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="LawForm" hints:rus="Организационно-правовая форма">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ShortName" minOccurs="0" hints:rus="Сокращенное наименование (в случае, если имеется)">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="FirmName" minOccurs="0" hints:rus="Фирменное наименование (в случае, если имеется)">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="OrgAddress" type="krsk:AddressType" hints:rus="Адрес места нахождения юридического лица"/>
			<xs:element name="WorksInfo" maxOccurs="1" hints:rus="Адреса мест осуществления лицензируемого вида деятельности">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="WorkInfo" type="krsk:WorkInfoType" maxOccurs="unbounded" hints:rus="Адрес места осуществления лицензируемого вида деятельности"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="OGRN" hints:rus="Государственный регистрационный номер записи о создании юридического лица (ОГРН)">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="[1;2;5]{1}\d{12}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="EGRULData" type="krsk:EGRULDataType" hints:rus="Данные  документа, подтверждающего факт внесения сведений о юридическом лице в Единый государственный реестр юридических лиц"/>
			<xs:element name="INN" hints:rus="ИНН юридического лица">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{8}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TaxAuthorityData" type="krsk:TaxAuthorityDataType" hints:rus="Данные документа о постановке юридического лица на учет и в налоговом органе"/>
			<xs:element name="Phone" minOccurs="0" hints:rus="Номер телефона (в случае, если имеется)">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="15"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Email" minOccurs="0" hints:rus="адрес электронной почты юридического лица">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="40"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Director" type="krsk:DirectorType" hints:rus="Информация о руководителе юридического лица"/>
			<xs:element ref="attach:AppliedDocuments" minOccurs="0" hints:rus="Приложенные документы"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TaxAuthorityDataType">
		<xs:annotation>
			<xs:documentation>Тип: Данные документа о постановке юридического лица на учет и в налоговом органе</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RegDepartment" type="xs:string" hints:rus="Выдан (орган, выдавший документ):"/>
			<xs:element name="DocIssuedDate" type="xs:date" hints:rus="Дата:"/>
			<xs:element name="Series" type="xs:string" hints:rus="Серия"/>
			<xs:element name="Number" type="xs:string" hints:rus="N"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EGRULDataType">
		<xs:annotation>
			<xs:documentation>Тип: Данные  документа, подтверждающего факт внесения сведений о юридическом лице в Единый государственный реестр юридических лиц</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RegDepartment" hints:rus="Выдан (орган, выдавший документ):">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DocIssuedDate" type="xs:date" hints:rus="Дата:"/>
			<xs:element name="Series" hints:rus="Серия:">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Number" hints:rus="N">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="15"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="RegAddress" type="krsk:AddressType" hints:rus="Адрес места нахождения органа, осуществившего государственную регистрацию"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AddressType">
		<xs:annotation>
			<xs:documentation>Тип: Адрес</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PostIndex" minOccurs="0" hints:rus="Почтовый индекс">
				<xs:annotation>
					<xs:appinfo>
						<xs:exampleValues>
							<xs:example value="660001"/>
						</xs:exampleValues>
					</xs:appinfo>
					<xs:appinfo>
						<altova:exampleValues>
							<altova:example value=""/>
						</altova:exampleValues>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="6"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="RegionRF" type="xs:string" hints:rus="Субъект РФ">
				<xs:annotation>
					<xs:appinfo>
						<altova:exampleValues>
							<altova:example value="Красноярский край"/>
						</altova:exampleValues>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="District" minOccurs="0" hints:rus="Район">
				<xs:annotation>
					<xs:appinfo>
						<altova:exampleValues>
							<altova:example value="Октябрьский"/>
						</altova:exampleValues>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CityLocality" hints:rus="Город/Населенный пункт">
				<xs:annotation>
					<xs:appinfo>
						<altova:exampleValues>
							<altova:example value="Красноярск"/>
						</altova:exampleValues>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Street" hints:rus="Улица">
				<xs:annotation>
					<xs:appinfo>
						<altova:exampleValues>
							<altova:example value="Ленина"/>
						</altova:exampleValues>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="House" hints:rus="Дом">
				<xs:annotation>
					<xs:appinfo>
						<altova:exampleValues>
							<altova:example value="56"/>
						</altova:exampleValues>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Bulk" minOccurs="0" hints:rus="Корпус">
				<xs:annotation>
					<xs:appinfo>
						<altova:exampleValues>
							<altova:example value="5"/>
						</altova:exampleValues>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="bldg" minOccurs="0" hints:rus="Строение">
				<xs:annotation>
					<xs:appinfo>
						<altova:exampleValues>
							<altova:example value="3"/>
						</altova:exampleValues>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Apartment" hints:rus="Квартира/офис">
				<xs:annotation>
					<xs:appinfo>
						<altova:exampleValues>
							<altova:example value="123"/>
						</altova:exampleValues>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DirectorType">
		<xs:annotation>
			<xs:documentation>Тип: Руководитель</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Post">
				<xs:annotation>
					<xs:documentation>Должность</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="FamilyName">
				<xs:annotation>
					<xs:documentation>Фамилия</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="FirstName">
				<xs:annotation>
					<xs:documentation>Имя</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Patronymic" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Отчество</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LicenseRequirementsType">
		<xs:annotation>
			<xs:documentation>Тип: Реквизиты подтверждающих документов</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DocName" hints:rus="наименование документа">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="RegDepartment" hints:rus="наименование органа (организации), выдавшего документ">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DocIssuedDate" type="xs:date" hints:rus="дата:"/>
			<xs:element name="Number" hints:rus="номер">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>