MockMetrics/test/data/daemon/GU/GU/GU.Enisey/GU.Enisey.Contract/Project Items/AppInquiryNotifier/1.0/application-inquiry-notifier-service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema" 
                  xmlns:types="urn://x-artefacts-it-ru/dob/poltava/application-inquiry-notify/types/1.0"
                  xmlns:tns="urn://x-artefacts-it-ru/dob/poltava/application-inquiry-notify/1.0"
                  targetNamespace="urn://x-artefacts-it-ru/dob/poltava/application-inquiry-notify/1.0">
    
    <wsdl:documentation>Сервис извещения о новых заявках и запросах</wsdl:documentation>
    
    <wsdl:types>
        <xs:schema>
            <xs:import namespace="urn://x-artefacts-it-ru/dob/poltava/application-inquiry-notify/types/1.0"
                       schemaLocation="notify-types.xsd" />
        </xs:schema>
    </wsdl:types>

    <wsdl:message name="notifyApplicationSubmittedRequestMsg">
        <wsdl:part name="request" element="types:notifyApplicationSubmittedRequest" />
    </wsdl:message>
    <wsdl:message name="notifyApplicationSubmittedResponseMsg">
        <wsdl:part name="response" element="types:notifyApplicationSubmittedResponse" />
    </wsdl:message>
    <wsdl:message name="notifyApplicationStateRequestMsg">
        <wsdl:part name="request" element="types:notifyApplicationStateRequest" />
    </wsdl:message>
    <wsdl:message name="notifyApplicationStateResponseMsg">
        <wsdl:part name="response" element="types:notifyApplicationStateResponse" />
    </wsdl:message>
    <wsdl:message name="notifyInquiryStateRequestMsg">
        <wsdl:part name="request" element="types:notifyInquiryStateRequest" />
    </wsdl:message>
    <wsdl:message name="notifyInquiryStateResponseMsg">
        <wsdl:part name="response" element="types:notifyInquiryStateResponse" />
    </wsdl:message>
	
    <wsdl:portType name="ApplicationInquiryNotifierPortType">
        <wsdl:operation name="notifyApplicationSubmitted">
            <wsdl:documentation>метод получения списка типов запроса</wsdl:documentation>
            <wsdl:input message="tns:notifyApplicationSubmittedRequestMsg" />
            <wsdl:output message="tns:notifyApplicationSubmittedResponseMsg" />
        </wsdl:operation>
        <wsdl:operation name="notifyApplicationState">
            <wsdl:documentation> метод получения текущего статуса запроса</wsdl:documentation>
            <wsdl:input message="tns:notifyApplicationStateRequestMsg" />
            <wsdl:output message="tns:notifyApplicationStateResponseMsg" />
        </wsdl:operation>
        <wsdl:operation name="notifyInquiryState">
            <wsdl:documentation> метод создания запроса</wsdl:documentation>
            <wsdl:input message="tns:notifyInquiryStateRequestMsg" />
            <wsdl:output message="tns:notifyInquiryStateResponseMsg" />
        </wsdl:operation>	
    </wsdl:portType>
		
    <wsdl:binding name="ApplicationInquiryNotifierSoap11Binding"
                  type="tns:ApplicationInquiryNotifierPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="notifyApplicationSubmitted">
            <soap:operation soapAction="urn:notifyApplicationSubmitted" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="notifyApplicationState">
            <soap:operation soapAction="urn:notifyApplicationState" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="notifyInquiryState">
            <soap:operation soapAction="urn:notifyInquiryState" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    
    <wsdl:service name="ApplicationInquiryNotifierService">
        <wsdl:port name="ApplicationInquiryNotifierEndpoint" binding="tns:ApplicationInquiryNotifierSoap11Binding">
            <soap:address
                location="http://localhost:8080/poltava/ApplicationInquiryNotifierService.ApplicationInquiryNotifierEndpoint/" />
        </wsdl:port>
    </wsdl:service>
    
</wsdl:definitions>
