MockMetrics/test/data/daemon/GU/GU/GU.Enisey/GU.Enisey.Contract/Project Items/AppInquiryNotifier/1.0/common-types-aq-1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           xmlns:tns="urn://x-artefacts-it-ru/dob/poltava/common-types/aq/1.0" 
           targetNamespace="urn://x-artefacts-it-ru/dob/poltava/common-types/aq/1.0" 
           elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:complexType name="anyDocumentContentType">
        <xs:annotation>
            <xs:documentation>Тип для содержания произвольного документа.		</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:any namespace="##any" processContents="skip">
                <xs:annotation>
                    <xs:documentation>Контент xml</xs:documentation>
                </xs:annotation>
            </xs:any>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="personTypeType">
        <xs:annotation>
            <xs:documentation>Тип физического лица</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="person">
                <xs:annotation>
                    <xs:documentation>Физ. лицо</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="individualEntrepreneur">
                <xs:annotation>
                    <xs:documentation>Индивидуальный предприниматель</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="foreignCitizen">
                <xs:annotation>
                    <xs:documentation>Иностранный гражданин</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="applicantInfoType">
        <xs:annotation>
            <xs:documentation>Тип для описания заявителя.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="personInfo" type="tns:personInfoType">
                <xs:annotation>
                    <xs:documentation>Описание физического лица.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="organizationInfo" type="tns:organizationInfoType">
                <xs:annotation>
                    <xs:documentation>Описание юридического лица.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="personInfoType">
        <xs:annotation>
            <xs:documentation>Тип для описания физического лица.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="personSourceSystemID" type="tns:IDType50" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Идентификатор субъекта в системе-источнике.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="personLastName" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Фамилия субъекта.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="personFirstName" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Имя субъекта</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="personPatronymic" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Отчество субъекта.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="personIdentificationDocument" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Документ, удостоверяющего личность субъекта.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="identificationDocumentType" type="xs:string">
                            <xs:annotation>
                                <xs:documentation>Наименование документа, удостоверяющего личность.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="identificationDocumentSeries" type="xs:string" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>Серия документа, удостоверяющего личность.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="identificationDocumentNumber" type="xs:string">
                            <xs:annotation>
                                <xs:documentation>Номер документа, удостоверяющего личность.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="identificationDocumentIssueDate" type="xs:date" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>Дата выдачи документа, удостоверяющего личность.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="identificationDocumentIssueIssueAuthorityName" type="xs:string" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>Наименование органа выдачи документа, удостоверяющего личность</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="personEmail" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Электронная почта субъекта.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="personAddressString" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Почтовый адрес субъекта.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="phone" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Телефон субъекта</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="personSNILS" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Страховой номер индивидуального лицевого счета страхового свидетельства обязательного пенсионного страхования субъекта.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="birthDate" type="xs:date" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Дата рождения физ. лица</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="personINN" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>ИНН физ. лица</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="individualEntrepreneurInfoType">
        <xs:annotation>
            <xs:documentation>Тип данных - индивидуальный предприниматель</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="tns:personInfoType">
                <xs:sequence>
                    <xs:element name="OGRNIP" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>Номер ОГРНИП индивидуального предпринимателя</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="foreignCitizenInfoType">
        <xs:annotation>
            <xs:documentation>Тип данных - иностранный гражданин</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="tns:personInfoType">
                <xs:sequence>
                    <xs:element name="citizenship" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>Гражданство</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="organizationInfoType">
        <xs:annotation>
            <xs:documentation>Тип для описания юридического лица.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="organizationSourceSystemID" type="tns:IDType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Идентификатор организации в системе-источнике.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="organizationFullName" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Полное наименование организации.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="organizationShortName" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Краткое наименование организации.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="organizationDulyAuthorisedSignatory">
                <xs:annotation>
                    <xs:documentation>Лицо, имеющее право подписи.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:complexContent>
                        <xs:extension base="tns:personInfoType">
                            <xs:sequence>
                                <xs:element name="personPost" type="xs:string" minOccurs="0">
                                    <xs:annotation>
                                        <xs:documentation>Должность субъекта.</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                            </xs:sequence>
                        </xs:extension>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="organizationPhone" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Телефон организации.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="organizationEmail" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Адрес электронной почты организации.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="organizationOGRN" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Основной государственный регистрационный номер организации.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="organizationINN" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Идентификационный номер налогоплательщика организации.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="errorType">
        <xs:annotation>
            <xs:documentation>Тип для результата выполнения метода, возвращаемая клиентам сервиса.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="executionResultCode" type="xs:int">
                <xs:annotation>
                    <xs:documentation>Код ошибки.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="errorMessage" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Человекочитаемое сообщение об ошибке в случае неуспешного выполнения.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tagType">
        <xs:annotation>
            <xs:documentation>Тип для элементов, которые не должны содержать ни текста, ни атрибутов. Такие элементы фактом своего наличия описывают какое-либо свойство объемлющего элемента.          </xs:documentation>
        </xs:annotation>
    </xs:complexType>
    <xs:simpleType name="IDType">
        <xs:annotation>
            <xs:documentation>Тип для идентификатора объекта.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="IDType50">
        <xs:annotation>
            <xs:documentation>Тип для идентификатора объекта длиной не более 50-ти символов</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="50"/>
        </xs:restriction>
    </xs:simpleType>    
    <xs:complexType name="PasswordSaltedDigest">
        <xs:annotation>
            <xs:documentation>Определение типа пароля в Username Token. Пароль
                формируется следующим образом Digest(login + Digest(pass)), Digest использует метод ГОСТ Р 34.11-94.
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="Type" type="xs:anyURI" use="required" fixed="http://www.w3.org/2001/04/xmldsig-more#gostr341194"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    
    <xs:complexType name="contentDataType">
        <xs:annotation>
            <xs:documentation>Тип хранения контента в xml или бинарном виде</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="XMLContent" type="tns:anyDocumentContentType">
                <xs:annotation>
                    <xs:documentation>xml c бизнес данными, в случае наличия ЭП - в контейнере AppData</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:sequence>
                <xs:element name="auxiliaryXMLContent" type="tns:anyDocumentContentType" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Содержимое дополнительного элемента AppData, если он присутствует при передаче бинарного контента</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="binaryContent">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:base64Binary">
                                <xs:attribute name="XMLFileName" type="xs:string" use="optional"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:choice>
    </xs:complexType>
    
</xs:schema>
