MockMetrics/test/data/daemon/GU/GU/GU.Enisey/GU.Enisey.Contract/Project Items/AppQuiry/1.0/appquiry-service-1.0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema" 
                  xmlns:tns="urn://x-artefacts-it-ru/dob/poltava/appquiry/1.0"
                  xmlns:types="urn://x-artefacts-it-ru/dob/poltava/appquiry/req-types/1.0"
                  targetNamespace="urn://x-artefacts-it-ru/dob/poltava/appquiry/1.0">
    
    <wsdl:documentation>ApplicationQService 1.2</wsdl:documentation>
    
    <wsdl:types>
        <xs:schema>
            <xs:import namespace="urn://x-artefacts-it-ru/dob/poltava/appquiry/req-types/1.0" schemaLocation="appquiry-req-types-1.0.xsd"/>
        </xs:schema>
    </wsdl:types>

    <wsdl:message name="setApplicationRequestMsg">
        <wsdl:part name="parameters" element="types:setApplicationRequest" />
    </wsdl:message>
    <wsdl:message name="setApplicationResponseMsg">
        <wsdl:part name="parameters" element="types:setApplicationResponse" />
    </wsdl:message>
    
    <wsdl:message name="getInquiryStateRequestMsg">
        <wsdl:part name="parameters" element="types:getInquiryStateRequest" />
    </wsdl:message>
    <wsdl:message name="getInquiryStateResponseMsg">
        <wsdl:part name="parameters" element="types:getInquiryStateResponse" />
    </wsdl:message>
    
    
    <wsdl:message name="changeApplicationStateRequestMsg">
        <wsdl:part name="parameters" element="types:changeApplicationStateRequest" />
    </wsdl:message>
    <wsdl:message name="changeApplicationStateResponseMsg">
        <wsdl:part name="parameters" element="types:changeApplicationStateResponse" />
    </wsdl:message>
    
    <wsdl:message name="setInquiryRequestMsg">
        <wsdl:part name="parameters" element="types:setInquiryRequest" />
    </wsdl:message>
    <wsdl:message name="setInquiryResponseMsg">
        <wsdl:part name="parameters" element="types:setInquiryResponse" />
    </wsdl:message>
	
    <wsdl:portType name="AppQuiryPortType10">
        <wsdl:operation name="changeApplicationState">
            <wsdl:documentation> метод смены статуса заявки</wsdl:documentation>
            <wsdl:input	message="tns:changeApplicationStateRequestMsg" />
            <wsdl:output message="tns:changeApplicationStateResponseMsg" />
        </wsdl:operation>
        <wsdl:operation name="setApplication">
            <wsdl:documentation>метод по созданию или обновлению заявки в системе.</wsdl:documentation>
            <wsdl:input message="tns:setApplicationRequestMsg" />
            <wsdl:output message="tns:setApplicationResponseMsg" />
        </wsdl:operation>
        <wsdl:operation name="getInquiryState">
            <wsdl:documentation>получить статус запроса</wsdl:documentation>
            <wsdl:input message="tns:getInquiryStateRequestMsg" />
            <wsdl:output message="tns:getInquiryStateResponseMsg" />
        </wsdl:operation>
        <wsdl:operation name="setInquiry">
            <wsdl:documentation>получить статус запроса</wsdl:documentation>
            <wsdl:input message="tns:setInquiryRequestMsg" />
            <wsdl:output message="tns:setInquiryResponseMsg" />
        </wsdl:operation>
    </wsdl:portType>
		
    <wsdl:binding name="AppQuirySoap11Binding" type="tns:AppQuiryPortType10">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        
        <wsdl:operation name="setApplication">
            <soap:operation soapAction="urn:setApplication"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="changeApplicationState">
            <soap:operation soapAction="urn:changeApplicationState" />
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getInquiryState">
            <soap:operation soapAction="urn:getInquiryState" />
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setInquiry">
            <soap:operation soapAction="urn:setInquiry" />
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
  
    <wsdl:service name="AppQuiryService10">
        <wsdl:port name="AppQuiryEndpoint10" binding="tns:AppQuirySoap11Binding">
            <soap:address location="http://localhost:8080/poltava/ApplQuiryService10.AppQuiryEndpoint10/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>