MockMetrics/test/data/daemon/GU/GU/GU.Enisey/GU.Enisey.BL/Converters/Mun/Xsd/RegistrationHousingNeeded.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:krsk="urn://x-artefacts-it-ru/dob/state-services/krsk/RegistrationHousingNeeded/1.7" xmlns:hints="urn://x-artefacts-it-ru/dob/xml-editor/rendering-hints/1.3" xmlns:commons="urn://x-artefacts-it-ru/dob/state-services/commons/1.4" xmlns:smev="http://smev.gosuslugi.ru/request/rev111111" targetNamespace="urn://x-artefacts-it-ru/dob/state-services/krsk/RegistrationHousingNeeded/1.7" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="urn://x-artefacts-it-ru/dob/state-services/commons/1.4" schemaLocation="state-services-commons-1.4.xsd"/>
	<xs:import namespace="http://smev.gosuslugi.ru/request/rev111111" schemaLocation="smev-attachments-2.2.4.xsd"/>
	<xs:element name="RegistrationHousingNeeded" hints:rus="Прием заявлений, документов, а также постановка граждан на учет в качестве нуждающихся в жилых помещениях">
		<xs:complexType>
			<xs:sequence>
				<xs:choice hints:showInChoiceScreen="true" hints:rus="Вы являетесь">
					<xs:sequence hints:rus="Заявителем">
						<xs:choice hints:showInChoiceScreen="true" hints:rus="Заявитель является">
							<xs:sequence hints:rus="Физическим лицом" hints:roleName="applicant-type">
								<xs:element name="PhysicalPerson" type="krsk:ApplicantType" hints:rus="Сведения о заявителе" hints:injectionType="injectAndGetBack"/>
							</xs:sequence>
							<xs:sequence hints:rus="Индивидуальным предпринимателем" hints:roleName="applicant-type">
								<xs:element name="SoleTrader" hints:rus="Сведения о заявителе" hints:injectionType="injectAndGetBack">
									<xs:complexType>
										<xs:complexContent>
											<xs:extension base="krsk:ApplicantType">
												<xs:sequence hints:rus="Данные индивидуального предпринимателя">
													<xs:element name="INN" type="commons:PhysicalPersonINN-Type" hints:rus="ИНН" hints:businessMeaning="userPhysicalPersonINN"/>
													<xs:element name="OGRNIP" type="commons:OGRNIP-Type" hints:rus="ОГРН ИП"/>
												</xs:sequence>
											</xs:extension>
										</xs:complexContent>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:choice>
					</xs:sequence>
					<xs:sequence hints:rus="Представителем заявителя">
						<xs:choice hints:showInChoiceScreen="true" hints:rus="Заявитель является">
							<xs:sequence hints:rus="Физическим лицом" hints:roleName="applicant-type">
								<xs:element name="AgentPhysicalPerson" type="krsk:ApplicantType" hints:rus="Сведения о заявителе" hints:injectionType="ignore"/>
							</xs:sequence>
							<xs:sequence hints:rus="Индивидуальным предпринимателем" hints:roleName="applicant-type">
								<xs:element name="AgentSoleTrader" hints:rus="Сведения о заявителе" hints:injectionType="ignore">
									<xs:complexType>
										<xs:complexContent>
											<xs:extension base="krsk:ApplicantType">
												<xs:sequence hints:rus="Данные индивидуального предпринимателя">
													<xs:element name="INN" type="commons:PhysicalPersonINN-Type" hints:rus="ИНН"/>
													<xs:element name="OGRNIP" type="commons:OGRNIP-Type" hints:rus="ОГРН ИП"/>
												</xs:sequence>
											</xs:extension>
										</xs:complexContent>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:choice>
						<xs:element name="PhysicalPerson" type="krsk:ApplicantType" hints:rus="Сведения о представителе заявителя" hints:injectionType="injectAndGetBack"/>
					</xs:sequence>
				</xs:choice>
				<xs:element name="BasisForAccounting" type="krsk:BasisForAccountingType" hints:rus="Основания для принятия на учет"/>
				<xs:element name="RegisteredHousing" type="krsk:ObjectType" hints:rus="Сведения о жилом помещении, в котором зарегистрирован заявитель"/>
				<xs:element name="OwnedHousing" type="krsk:ObjectType" minOccurs="0" maxOccurs="unbounded" hints:widgetType="deleteProtected" hints:rus="Сведения об ином жилом помещениии, находящемся в собственности заявителя">
					<xs:annotation>
						<xs:appinfo>
							<hints:OptionalElementHandling header="Заявитель является собственником иных жилых помещений" doNotCreateText="Нет" createText="Да"/>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="RegisteredTogetherFamilyMember" type="krsk:RegisteredTogetherFamilyMemberType" minOccurs="0" maxOccurs="unbounded" hints:widgetType="deleteProtected" hints:rus="Член семьи, зарегистрированный совместно" hints:injectionType="ignore" hints:userHint="Указать всех совместно зарегистрированных с заявителем граждан (см. статьи 31 и 69 Жилищного кодекса Российской Федерации: http://www.consultant.ru/popular/housing/55_6.html#p478 (ст.31 п.1), http://www.consultant.ru/popular/housing/55_10.html#p879 (ст.69 п.1))">
					<xs:annotation>
						<xs:appinfo>
							<hints:OptionalElementHandling header="Заявитель проживает с другими членами семьи, зарегистрированными совместно с ним" doNotCreateText="Нет" createText="Да"/>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="RegisteredApartFamilyMember" type="krsk:RegisteredApartFamilyMemberType" minOccurs="0" maxOccurs="unbounded" hints:widgetType="deleteProtected" hints:injectionType="ignore" hints:rus="Сведения о членах семьи, зарегистрированных отдельно от заявителя" hints:userHint="Указать только членов семьи заявителя (супруг(а), дети)">
					<xs:annotation>
						<xs:appinfo>
							<hints:OptionalElementHandling header="Заявитель имеет членов семьи, зарегистрированных отдельно от него" doNotCreateText="Нет" createText="Да"/>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="DistrictAdministration" type="commons:TimelineUnawareClassifierValue-Type" minOccurs="0" hints:widgetType="deleteProtected" hints:classifierName="DistrictAdministration" hints:rus="Выберите администрацию района города для направления заявления (для г.Красноярска)"/>
				<xs:element name="DocAttach" type="smev:AppliedDocumentsType" minOccurs="0" hints:widgetType="deleteProtected" hints:rus="Сведения о предоставляемых документах"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="ApplicantType">
		<xs:annotation>
			<xs:documentation>Тип: Заявитель</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref="commons:ApplicantPhysicalPersonQualifiedName-ModelGroup"/>
			<xs:element name="IdentityDocument" type="commons:Document-Type" hints:rus="Сведения о документе, удостоверяющем личность"/>
			<xs:element name="Phone" type="commons:PhoneNumberRF-Type" minOccurs="0" hints:rus="Телефон"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BasisForAccountingType">
		<xs:annotation>
			<xs:documentation>Тип: Основание для постановки на учет</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="NoAbode" type="xs:boolean" hints:rus="Отсутствие жилого помещения по договору социального найма и (или) на праве собственности"/>
			<xs:element name="SmallAbode" type="xs:boolean" hints:rus="Обеспеченность общей площадью жилого помещения на одного члена семьи ниже учетной нормы"/>
			<xs:element name="BadAbode" type="xs:boolean" hints:rus="Проживание в помещении, не отвечающем установленным для жилых помещений требованиям"/>
			<xs:element name="InFamilyThereIsDangerousSick" type="xs:boolean" hints:rus="Наличие в составе семьи больного, страдающего тяжелой формой хронического заболевания, при которой совместное проживание с ним в одной квартире невозможно"/>
			<xs:element name="Other" type="commons:string-300" minOccurs="0" hints:rus="Иное" hints:userHint="Укажите основание для принятия на учет"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ObjectType">
		<xs:annotation>
			<xs:documentation>Тип: Жилое помещение</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ObjectName" type="commons:string-250" hints:rus="Наименование жилого помещения" hints:userHint="Пример: Квартира"/>
			<xs:element name="CadastralNumber" type="commons:CadastralNumber-Type" hints:rus="Кадастровый номер"/>
			<xs:element name="ConditionalNumber" type="commons:string-40" minOccurs="0" hints:rus="Условный номер" hints:userHint="Условный номер объекта недвижимости. Пример: 50:24:00:00:28919010"/>
			<xs:element name="ObjectType" hints:rus="Вид жилого помещения" hints:default="Помещение">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Здание"/>
						<xs:enumeration value="Помещение"/>
						<xs:enumeration value="Сооружение"/>
						<xs:enumeration value="Объект незавершенного строительства"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AreaCode" type="commons:TimelineUnawareClassifierValue-Type" hints:classifierName="typesOfLand" hints:rus="Вид площади" hints:default="2"/>
			<xs:element name="Area" hints:rus="Площадь" hints:userHint="Число. Дробная часть отделяется точкой. Пример: 45.5">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="10"/>
						<xs:fractionDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Unit" type="commons:TimelineUnawareClassifierValue-Type" hints:classifierName="unitArea" hints:rus="Единицы площади" hints:default="12002001000"/>
			<xs:element name="Address" type="commons:LocationRosReestrKrsk-Type" hints:rus="Адрес"/>
			<xs:element name="OwnerBase" type="commons:string-200" hints:rus="Основание владения и пользования жилым помещением" hints:userHint="Наименование документа (например, договор купли-продажи), серия, номер, дата выдачи и наименование органа, выдавшего документ"/>
			<xs:element name="PropertyType" type="commons:TimelineUnawareClassifierValue-Type" hints:classifierName="typesOfProperty" hints:rus="Вид собственности" hints:default="1002000000"/>
			<xs:element name="PropertyShare" minOccurs="0" hints:rus="Доля в собственности" hints:userHint="Заполняется, если в поле «Вид собственности» выбрано значение «Долевая собственность». Формат x/x или x/xx или xx/xx, где x – число. Пример: 2/3">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="([0-9]{1}[/]{1}[0-9]{1,2})|[1]|([0-9]{2}[/]{1}[0-9]{2})"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="RegisteredPersonNumber" type="xs:positiveInteger" hints:rus="Количество зарегистрированных человек" hints:userHint="Число. Пример: 5"/>
			<xs:sequence minOccurs="0" hints:widgetType="deleteProtected">
				<xs:annotation>
					<xs:appinfo>
						<hints:OptionalElementHandling header="Имеются другие собственники жилого помещения" doNotCreateText="Нет" createText="Да"/>
					</xs:appinfo>
				</xs:annotation>
				<xs:choice maxOccurs="unbounded" hints:rus="Собственник">
					<xs:sequence hints:rus="является физическим лицом">
						<xs:element name="OwnerFL" hints:rus="Сведения о собственнике (физическом лице)">
							<xs:complexType>
								<xs:sequence>
									<xs:group ref="commons:PhysicalPersonQualifiedName-ModelGroup"/>
									<xs:element name="OwnerBirthDate" type="xs:date" hints:rus="Дата рождения" hints:dateRestriction="past" hints:userHint="Дата должна быть не больше текущей"/>
									<xs:element name="OwnerCitizenship" type="commons:TimelineUnawareClassifierValue-Type" hints:classifierName="COUNTRY" hints:rus="Гражданство" hints:default="RUS"/>
									<xs:element name="OwnerDUL" type="commons:Document-Type" hints:injectionType="ignore" hints:rus="Сведения о документе, удостоверяющем личность"/>
									<xs:element name="OwnerAddress" type="commons:OptionalIndexAddress-Type" hints:rus="Адрес места жительства или преимущественного места пребывания правообладателя"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:sequence hints:rus="является юридическим лицом">
						<xs:element name="OwnerUL" hints:rus="Сведения о собственнике (юридическом лице)">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="OrgName" type="commons:string-500" hints:rus="Полное наименование" hints:userHint="Полное наименование юридического лица. Пример: Общество с ограниченной ответственностью «20 век фокс»"/>
									<xs:element name="RegistrationDate" type="xs:date" hints:rus="Дата государственной регистрации" hints:dateRestriction="past" hints:userHint="Дата должна быть не больше текущей"/>
									<xs:element name="Incorporation" type="commons:TimelineUnawareClassifierValue-Type" hints:classifierName="COUNTRY" hints:default="RUS" hints:rus="Страна регистрации (инкорпорации)"/>
									<xs:element name="INN" type="commons:LegalPersonINN-Type" hints:rus="ИНН"/>
									<xs:element name="OGRN" type="commons:OGRN-Type" hints:rus="ОГРН"/>
									<xs:element name="Address_Registration" type="commons:OptionalIndexAddress-Type" hints:rus="Адрес места государственной регистрации"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:choice>
			</xs:sequence>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RegisteredTogetherFamilyMemberType">
		<xs:annotation>
			<xs:documentation>Тип: Член семьи, зарегистрированный совместно</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref="commons:PhysicalPersonQualifiedName-ModelGroup"/>
			<xs:element name="BirthDate" type="xs:date" hints:rus="Дата рождения" hints:dateRestriction="past" hints:userHint="Дата должна быть не больше текущей"/>
			<xs:element name="INN" type="commons:PhysicalPersonINN-Type" hints:rus="ИНН"/>
			<xs:element name="Relationship" type="commons:TimelineUnawareClassifierValue-Type" hints:classifierName="RELATIONSHIP" hints:rus="Степень родства"/>
			<xs:element name="RelationshipOther" type="commons:string-200" minOccurs="0" hints:rus="Укажите степень родства в случае выбора значения «Иное»" hints:userHint="Пример: муж золовки"/>
			<xs:element name="MemberWorkPlace" type="commons:string-500" minOccurs="0" hints:rus="Укажите место работы или учебы члена семьи" hints:userHint="Наименование организации или учебного заведения"/>
			<xs:element name="Unemployment" type="commons:YesNo-Type" minOccurs="0" hints:rus="Состоит на учете в органах службы занятости населения"/>
			<xs:sequence minOccurs="0" hints:widgetType="deleteProtected">
				<xs:annotation>
					<xs:appinfo>
						<hints:OptionalElementHandling header="Является индивидуальным предпринимателем" doNotCreateText="Нет" createText="Да"/>
					</xs:appinfo>
				</xs:annotation>
				<xs:element name="MemberOGRN" type="commons:OGRNIP-Type" hints:rus="ОГРН ИП"/>
			</xs:sequence>
			<xs:element name="MemberDUL" type="commons:Document-Type" hints:rus="Сведения о документе, удостоверяющем личность"/>
			<xs:element name="RegistrationType" hints:rus="Вид регистрации по месту жительства" hints:default="Постоянная">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Постоянная"/>
						<xs:enumeration value="Временная"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RegisteredApartFamilyMemberType">
		<xs:annotation>
			<xs:documentation>Тип: Член семьи, зарегистрированный отдельно</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref="commons:PhysicalPersonQualifiedName-ModelGroup"/>
			<xs:element name="BirthDate" type="xs:date" hints:rus="Дата рождения" hints:dateRestriction="past" hints:userHint="Дата должна быть не больше текущей"/>
			<xs:element name="INN" type="commons:PhysicalPersonINN-Type" hints:rus="ИНН"/>
			<xs:element name="Relationship" type="commons:TimelineUnawareClassifierValue-Type" hints:classifierName="RELATIONSHIP" hints:rus="Степень родства"/>
			<xs:element name="RelationshipOther" type="commons:string-200" minOccurs="0" hints:rus="Укажите степень родства в случае выбора значения «Иное»" hints:userHint="Пример: муж золовки"/>
			<xs:element name="MemberWorkPlace" type="commons:string-500" minOccurs="0" hints:rus="Укажите место работы или учебы члена семьи" hints:userHint="Наименование организации или учебного заведения"/>
			<xs:element name="Unemployment" type="commons:YesNo-Type" minOccurs="0" hints:rus="Состоит на учете в органах службы занятости населения"/>
			<xs:sequence minOccurs="0" hints:widgetType="deleteProtected">
				<xs:annotation>
					<xs:appinfo>
						<hints:OptionalElementHandling header="Является индивидуальным предпринимателем" doNotCreateText="Нет" createText="Да"/>
					</xs:appinfo>
				</xs:annotation>
				<xs:element name="MemberOGRN" type="commons:OGRNIP-Type" hints:rus="ОГРН ИП"/>
			</xs:sequence>
			<xs:element name="MemberDUL" type="commons:Document-Type" hints:rus="Сведения о документе, удостоверяющем личность"/>
			<xs:element name="RegisteredObject" type="krsk:ObjectType" hints:rus="Сведения о жилом помещении, в котором зарегистрирован член семьи"/>
			<xs:element name="RegistrationType" hints:rus="Вид регистрации по месту жительства" hints:default="Постоянная">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Постоянная"/>
						<xs:enumeration value="Временная"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
